[2020-02-28 08:53] Vadorequest opened #2 "Github Actions fails to comment PR on master branch, because there are no open PR"
Just noticed that when merging PR into master, the Github action fails at the step ` Comment PR (Deployment success)` with:

[code]

See https://github.com/UnlyEd/next-right-now/runs/473721578

This is to be expected, as there are indeed no open PR for the comment to be written to.
Maybe the `.github/workflows/deploy-zeit-production.yml` file should be updated so that it doesn't try to write a com

[2020-02-28 11:19] Vadorequest commented on #2
This also fails on PRs when the E2E test works but another commit was made to the branch since GitHub Action was triggered, and HEAD id has changed. See https://github.com/UnlyEd/next-right-now/runs/474616496

[2020-03-06 14:31] #2 closed

[2020-03-06 19:06] Y-Less opened #9 "Example SSR broken"
If you go to the examples with JS disabled, the main body shows, but not the header:

https://nrn-customer2.now.sh/

This is arguably fine as the header is only for developer information.  However, other parts also don't work such as the `Examples` link, and once on the examples page (by manually entering the address) you are greeted by:

![image](https://user-images.githubusercontent.com/991078/7

[2020-03-06 19:18] Vadorequest commented on #9
Good catch! This particular component is from Reactstrap `Alert`: https://reactstrap.github.io/components/alerts/

Maybe it doesn't support SSR. I hadn't noticed this, I'll take a look later.
But it's not related to NRN in a whole, but specific to Reactstrap (maybe the lib isn't properly configured for SSR though).

As for links, I had noticed this behaviour, it's related to the Next.js framework.

[2020-03-06 19:42] Vadorequest commented on #9
Issue opened at https://spectrum.chat/next-js/general/next-js-internal-links-dont-work-when-js-is-disabled-expected-or-a-bug~8130672a-21ac-4294-9c0b-2d0c6dd3e3d6

[2020-03-06 19:53] Vadorequest commented on #9
Regarding the Reactstrap Alert component, I've checked with disabled JS and the bootstrap styles are properly imported.
![image](https://user-images.githubusercontent.com/3807458/76117438-2243a300-5fec-11ea-811f-8b7adcc04afd.png)

I've looked into the DOM and everything is fine as well. Actually, the issue is because Bootstrap uses JS to display the Alert component at runtime, using a JS animation

[2020-03-06 20:16] Vadorequest commented on #9
Reopening because there is still the question about the links.

Reactstrap Alert has been fixed.

[2020-03-06 20:25] Y-Less commented on #9
Thanks.  And yes, I wasn't entirely sure if this was the right place for the issue or not, but very impressed by the speed of your response anyway!

[2020-03-07 15:06] #9 closed

[2020-03-09 09:02] Vadorequest opened #13 "Third parties - Community feedback"
Feel free to give your feedback regarding the third-parties used by this boilerplate.

**Please use the following template**. Also, if you really liked or didn't liked something, please explain why, as it'll help us to do better!

### Template:

[code]

Thanks for sharing!

[2020-03-09 09:02] Vadorequest commented on #13
_Usage example_

**About GraphCMS** (GraphQL Server + CMS + Database):
- [ ] I knew about it
- [ ] I had already used it
- [ ] I used it for the first time with NRN
- [ ] I like it and I'm glad you used it
- [ ] I plan on using it again in the future
- I wish you had used those alternatives instead:

**About Locize** (I18n, with in-editor context):
- [ ] I knew about it
- [ ] I had already used it

[2020-03-09 09:11] Vadorequest opened #14 "Documentation & getting started - Community feedback"
Lots of documentation has been written, both in markdown files (README, etc.) and as in-code comments. About 2h of video tutorial has been recorded as well, so that you don't get stuck when trying out this project for yourself, but I know there is a lot of things to understand, lots of third parties, lots of configuration as well, and all this is likely overwhelming.

If you could share what you'v

[2020-03-20 06:43] sjsakib commented on #14
I wanted to understand how the i18next integration works. How is the `i18nextInstance` passed to react? It seems to be passed to the `Layout` component, but the `Layout` component never uses it. So how does this work?

[2020-03-20 09:18] Vadorequest commented on #14
Hi @sjsakib, interesting question!

The `i18nextInstance` isn't necessary to perform translations actually, it's forwarded as a utility.

See https://github.com/UnlyEd/next-right-now/blob/master/src/components/Layout.tsx#L416, that's where the Layout component passes down to the react tree the `i18nextInstance` defined in https://github.com/UnlyEd/next-right-now/blob/master/src/pages/_app.tsx#L172

[2020-03-20 09:37] jamuhl commented on #14
all the react-i18next components need to access an i18next instance to get a `t` function, load translations,...

In most cases using `i18next.use(initReactI18next)` is sufficient -> basically using that plugin does nothing but passing the i18next instance to react-i18next.

When do you need the I18nextProvider?

- When you got serverside scenarios -> eg. in express there will be a cloned i18next

[2020-03-20 10:08] Vadorequest commented on #14
Thanks @jamuhl for your feedback, I was also wondering how the `t` function was linked to `i18next` because I don't use the `i18nextProvider`.

But it's clear now that it's because of `i18nInstance.init()` at https://github.com/UnlyEd/next-right-now/blob/3458fa30aecd0dc95ebd2abfeb20c2e45c76a09f/src/utils/i18nextLocize.ts#L369, that's where we configure i18next, and that's how later use of `t` or `

[2020-03-20 10:11] Vadorequest opened #15 "[Doc] Explain better how i18next and t/Trans components are linked together"
See https://github.com/UnlyEd/next-right-now/issues/14#issuecomment-601621163

Basically improve existing i18n doc by explaining how i18n things are linked together

PR welcome

[2020-03-20 10:47] sjsakib commented on #14
Thanks a lot guys.

So, is the i18next instance getting initialized anew with every page transition in the client?

[2020-03-20 11:00] Vadorequest commented on #14
I would say it does. A new page refresh (SSR) would definitely initialise the i18nextInstance, but a CSR would also initialise it. But, that doesn't mean it will fetch translations again, because of caching mechanisms that are built-in with the i18nextLocize implementation.

A lot of efforts have been made to avoid over-fetching, and if that's your concern you can see that now additional network r

[2020-03-23 19:33] Vadorequest commented on #15
Fixed by https://github.com/UnlyEd/next-right-now/commit/aa4d0e4587d4a3eab7fa43392139a4962d1e851f

[2020-03-23 19:33] #15 closed

[2020-03-24 16:42] jajourda opened #16 "Pricing Questions: Can I configure next-right-now to be FREE?"
# I'm experimenting....

After a cursory reading and watching your 1.5 of your videos, It seems locize is the only requirement that has no free plan.

## Currently I don't need ~~locize~~ a few libs/utils, but would love to stick as closely to your practices
I know you said it was _opinionated_, but I am kind of hoping to use your approaches/methodologies like it's my web-dev-rabbi/teacher.

![ima

[2020-03-24 18:17] Vadorequest commented on #16
@jajourda  Hello! I understand your pain.

About Locize, they may have some discount but if you don't need them in the first place then it's no use to you. The best solution I see here is to remove Locize from your project.

I was considering yesterday to release some **variant** versions, without Locize for instance. or without GraphCMS, etc. I believe you could use those. 😉

GraphCMS has some fr

[2020-03-24 20:23] jajourda commented on #16
You recommended Strapi, but what about sanity?
https://www.sanity.io/graphql

[2020-03-24 20:56] Vadorequest commented on #16
Because their GraphQL is actually beta:
https://www.sanity.io/docs/what-about-graphql

I had studied their system and they were using 2 different "ways" for queries and mutations, which didn't use the same system. Makes things harder to do. It may be a viable alternative, but beware the current limitation.

I also didn't like how they show of their GraphQL compatibility and it's only when you look

[2020-03-25 00:05] Vadorequest opened #18 "RFC - Boilerplate presets"
# Context

This boilerplate has been built based on a real professional use-case.

**This use case relies on the following built-in 3rd parties:**
- Monitoring (Sentry 3rd party, large freemium)
- Analytics (Amplitude 3rd party, large freemium)
- GraphQL API (GraphCMS 3rd party, small freemium)
- I18n (Locize 3rd party, 2w free trial, **not free**)
- Hosting (Zeit 3rd party, large freemium, no pay

[2020-03-25 00:05] Vadorequest commented on #16
@jajourda I've opened https://github.com/UnlyEd/next-right-now/issues/18 and I could use your feedback!

[2020-03-25 00:06] Vadorequest commented on #9
@Y-Less  I've opened https://github.com/UnlyEd/next-right-now/issues/18 and I could use your feedback!

[2020-03-25 11:46] Vadorequest commented on #18
The tag `monorepo` could be replaced by `mr`/`mono` (MonoRepo) or `mst` (Multiple Single-Tenant), I'm thinking `mst` is the best choice between both as it's the closest to what actually happens under the hood.

[2020-03-25 14:39] jajourda commented on #18
# Thoughts from a Noob

@Vadorequest , what one person calls "_opinionated_" in this context, I am choosing to call **_didactic_**. For starters, a quick definition for shared terminology:

![image](https://user-images.githubusercontent.com/1839603/77523875-ce92df80-6e5c-11ea-8d09-0bb770c743ab.png)

## You work for UnlyEd ...
I saw this tag at the end of next-right-now's readme:

### _If this ment

[2020-03-25 14:47] jajourda commented on #16
@Vadorequest , i just dumped a response on #18  😄

[2020-03-25 15:01] jajourda opened #19 "Build Error Notification via Github Actions..."
# Did this happen because I used npm instead of yarn?

![image](https://user-images.githubusercontent.com/1839603/77550769-dd42bc00-6e87-11ea-82e4-74463bdc5edc.png)

[2020-03-25 15:04] Vadorequest commented on #19
This happens because you haven't configured a `token` Github variable for your project.
See https://github.com/UnlyEd/next-right-now/tree/master/.github/workflows documentation

[2020-03-25 15:26] Vadorequest commented on #18
I personally dislike the "noob" naming, as it is usually referred to with a negative intent. I prefer to it the term "beginner" which doesn't bear such negativity.

I understand your point regarding how a transparent, documented and comprehensible strong opinion is favorable for beginners compared to more "flex" opinions, which often lead to getting lost due to too many choices/possibilities. I pe

[2020-03-25 17:33] jajourda commented on #18
# A Beginner speaks
@Vadorequest , I retract my ~~noob~~ language! I am a **BEGINNER**.

## github pages would be great
I do have experience with github pages and jekyll. If you are open to it, I would consider helping with such an endeavor.

## love your faq
I like the idea of the docs being an faq that has actual _gotchas_ and problems that have been run into (similar to the faq section you adde

[2020-03-25 17:53] Vadorequest commented on #18
Totally, if you could setup something similar I'd be happy to make use of it. I'd also love to know what steps you've followed to do so, so that I can learn from you as well ;)

Let me know what you'd need to get started. Maybe I need to create a new repository?
If you have any example of what you intend to build, that'd be awesome. Also, I believe we should move this discussion to a dedicated iss

[2020-03-25 19:42] jajourda opened #20 "Docs Site via Github Pages"
# Build a Documentation Site via Github Pages
Circa the discussion in https://github.com/UnlyEd/next-right-now/issues/18#issuecomment-603991162, it seems a fitting task to make a documentation website.

## Resources
Here is one approach.
https://github.blog/2016-08-22-publish-your-project-documentation-with-github-pages/

![alt text](https://github.blog/wp-content/uploads/2016/08/47c5a586-6533-11e

[2020-03-25 19:45] jajourda commented on #20
#an idea...
I could also make a fork of the next-right-now repo, add "docs" directory and you could give oversight via deciding to incorporate the pull request or not

[2020-03-25 19:54] jajourda commented on #20
# here's what publishing looks like

![alt text](https://github.blog/wp-content/uploads/2016/08/47c2ecc4-6533-11e6-828a-91980daa7297.gif)

[2020-03-25 20:09] jajourda commented on #19
# hmmm ... why did it work yesterday?
I was able to deploy yesterday...and now when I update the repo it won't build in zeit.
![image](https://user-images.githubusercontent.com/1839603/77580736-e301c700-6eb2-11ea-9805-00926e684bde.png)

[2020-03-25 21:58] Vadorequest commented on #19
Because you probably deployed from your local computer using `yarn deploy`, which doesn't go through CI/CD and deploys directly to Zeit.

[2020-03-25 22:16] Vadorequest commented on #20
Thanks! It's really straightforward. I like the /docs options, it's the cleanest IMHO because it lives with the source code itself as you stated, easier to maintain and keep up to date!

I've released a very basic "hello word" -ish version:
https://unlyed.github.io/next-right-now/

So, now let's decide what should be part of the README.md and what should be part of the /docs folder 🤔

I think the

[2020-03-26 12:17] Vadorequest commented on #20
@jajourda I've started to work on this at https://github.com/UnlyEd/next-right-now/pull/17

Here is what the structure looks like for now, any feedback/suggestions?
![image](https://user-images.githubusercontent.com/3807458/77646051-15b7c800-6f64-11ea-9b7f-02554f87bdbe.png)

[2020-03-26 15:38] Vadorequest commented on #20
@jajourda I've merged the new docs version and it's available at https://unlyed.github.io/next-right-now/

I could use your help with the navigation menu, I'd love your feedback/contribution about how to build it. I've looked at Jekyll a bit but since you have some experience, I believe your input would be much valuable.

[2020-03-26 15:44] jajourda commented on #20
I just looked at it. the roadmap looks cool. out of curiosity why did you go with the architect?

https://github.com/pages-themes/architecthttps://github.com/pages-themes/architect

[2020-03-26 15:45] jajourda commented on #20
so far the file structure looks great! i'm excited to see it fleshed out.

[2020-03-26 15:46] Vadorequest commented on #20
Just found the tuto to install it locally https://help.github.com/en/github/working-with-github-pages/testing-your-github-pages-site-locally-with-jekyll gonna try it out

[2020-03-26 15:47] Vadorequest commented on #20
I chose Architect because I liked the way it looks. Do you have another proposition?

[2020-03-26 15:49] jajourda commented on #20
first a question: did you choose to go with github pages themes because of the ease of just citing the theme in config.yaml and then being done?

**i.e. to avoid having to code layouts?**

[2020-03-26 15:50] jajourda commented on #20
#### an additional suggestion
I would suggest having a well-styled, non-text heavy home page that better visually divides the content you are trying to highlight and showcase.

[2020-03-26 15:50] Vadorequest commented on #20
I didn't really think through about that, I supposed using a predefined theme would be less work

[2020-03-26 15:51] Vadorequest commented on #20
The content of the documentation itself will need to we improved indeed, I basically copied/pasted existing content to fill the blanks, but I do intend to improve it

[2020-03-26 15:54] jajourda commented on #20
# my suggestion

Jekyll's layouts are really powerful in helping code to by DRY. for this reason i recommend a different route that requires a **bit** more work on the frontend:

https://github.com/BlackrockDigital/startbootstrap

specifically the templates folder
https://startbootstrap.com/templates/

I would build between 3-5 layout .md files based on templates that suited the needs to have more

[2020-03-26 15:55] jajourda commented on #20
# navigation

build a .md file in your _includes directory and either hard code the items into your nav, or create a dynamic nav doing some derivation of this approach:

https://talk.jekyllrb.com/t/how-to-create-a-dynamic-menu-in-jekyll-that-auto-populates-nav-items-when-creating-new-pages/2141

[2020-03-26 15:57] Vadorequest commented on #20
Regarding layouts, I don't understand how Jekyll and SB are related. How are we supposed to install one of those? What benefits/constraints does it brings?

[2020-03-26 16:02] Vadorequest commented on #20
I'm thinking about https://github.com/pmarsceill/just-the-docs as Jekyll theme, what do you think?

[2020-03-26 16:03] jajourda commented on #20
# great choice
Just the docs looks great!

[2020-03-26 16:04] jajourda commented on #20
I would still recommend giving tlc to the home page. For now I don't want to impede your progress, I just want to increase readibility and liklihood of adoption 😄

[2020-03-26 16:06] Vadorequest commented on #20
Thanks for the quick feedback! https://unlyed.github.io/next-right-now/ looks much better already

[2020-03-26 16:07] jajourda commented on #20
This seems like it will help you. It looks like they recommend putting your docs into the _pages directory when you get started populating.

https://pmarsceill.github.io/just-the-docs/docs/navigation-structure/

[2020-03-26 19:54] jajourda commented on #20
# stylesheets are missing

![image](https://user-images.githubusercontent.com/1839603/77690407-9d5c0180-6f79-11ea-8c4c-a61bcf3b63b4.png)

![image](https://user-images.githubusercontent.com/1839603/77690433-a64cd300-6f79-11ea-8305-64bca18bf46b.png)

## missing directories revealed in link elements
![image](https://user-images.githubusercontent.com/1839603/77690572-e57b2400-6f79-11ea-9c10-ee94bee676

[2020-03-26 20:01] jajourda commented on #19
# npm instead of yarn
could this cause problems for me in this repo? or is npm just fine?

[2020-03-26 21:05] jajourda commented on #19
# How to set up next-right-now for Github Actions and Zeit

# 1. Go to  repo settings
Go to your repo's settings page and find the secrets tab.

# 2. Provide 2 Secrets to Github in your settings on the Secrets Tab

### 1. Generate a personal access token to copy and paste for later use:
![image](https://user-images.githubusercontent.com/1839603/77692868-c7172780-6f7d-11ea-851c-7e21d16e0075.png)

#

[2020-03-26 21:05] jajourda commented on #19
# It still fails after putting in tokens as described above
![image](https://user-images.githubusercontent.com/1839603/77696590-0183c300-6f84-11ea-9e3e-99bf5592d218.png)

[2020-03-26 21:17] Vadorequest commented on #19
The error has changed, you've fixed the token issue.

The team specified in your now.*.json file isn't yours, you should use the `projectId` in your `.now/project.json` file

[2020-03-26 21:19] Vadorequest commented on #20
Yes I know, that's because it's complicated to make it work both locally and on GitHub Actions... Much harder than it should be.

[2020-03-26 21:51] Vadorequest commented on #20
I've fixed the issue on GHP. https://unlyed.github.io/next-right-now/

[2020-03-26 22:15] Vadorequest commented on #20
I've made possible to run jekyll locally, it now behaves the same whether running on GHP or locally.
This was a much-needed feature for documentation maintenance ease

![image](https://user-images.githubusercontent.com/3807458/77701938-a8358700-6fb7-11ea-8b45-9fcb1b6c4669.png)

[2020-03-26 23:14] jajourda commented on #19
I added ran `yarn build` and i ran `npm run build`.

I got this result locally.

![image](https://user-images.githubusercontent.com/1839603/77705394-f174df00-6f95-11ea-8b4c-e7b792334d29.png)

[2020-03-26 23:16] jajourda commented on #20
# 404 Page Not Flound for home page

The other pages and nav links appear to be working.

![image](https://user-images.githubusercontent.com/1839603/77705437-0ea9ad80-6f96-11ea-9f87-d0429617ddfb.png)

[2020-03-26 23:17] jajourda commented on #20
# consider indenting and categorizing nav links
It would make site content divisions more apparent if you indent sub links in the left nav column

[2020-03-26 23:43] Vadorequest commented on #19
@jajourda You've got to read error messages. The error is self-explanatory here.

Sentry DSN isn't defined, look at your `SENTRY_DSN` env var in .env.build file

[2020-03-26 23:45] Vadorequest commented on #20
Please avoid using H1 title for no valid reason.

Work regarding documentation is being done in this PR: https://github.com/UnlyEd/next-right-now/pull/21

[2020-03-27 00:47] #20 closed

[2020-03-27 00:50] Vadorequest commented on #20
@jajourda Check https://unlyed.github.io/next-right-now/CONTRIBUTING.html if you want to contribute to the doc. 😉

I think the next step is for me to go through the doc and improve them massively. Do you have any feedbacks regarding the current version? (besides what you already told me)
Bullet points would be great 😄

[2020-03-27 01:02] jajourda commented on #19
@Vadorequest , sorry, i mixed up sentry with locize and amplitude based on memory of older docs from an older commit. I was confused after reading the error because of the docs and this memory mixup:

My `SENTRY_DSN` property is empty in my .env.build file. but it is present in my now.json file. i copy my value from the now.json file and paste it into  my .env.build file as well.

[2020-03-27 01:08] Vadorequest commented on #19
Empty won't do, tests expect a valid value to pass.

But it's a misc error, it doesn't affect how the app actually works, it just impacts the tests suite.

[2020-03-27 01:08] jajourda commented on #20
@Vadorequest , i took a look at the contributing file. I will try to make a pull request if I find anything that will make the project clearer or more adoptable.

I was using h1 as a TLDR for future readers of the issue who may only want to scan 😄

[2020-03-29 02:17] Vadorequest commented on #20
@jajourda I recommend you don't work on the docs until this PR is merged, to avoid conflicts
https://github.com/UnlyEd/next-right-now/pull/22

[2020-03-29 14:37] Vadorequest commented on #19
@jajourda Is this resolved?

[2020-03-29 16:05] Vadorequest commented on #18
PR https://github.com/UnlyEd/next-right-now/pull/22 is implementing this specification.

[2020-03-30 01:49] Vadorequest commented on #16
@jajourda Just discovered https://docs.directus.io/, looks very very good.

[2020-03-30 14:16] jajourda commented on #16
checking out directus.
We have repeatedly discussed GraphQL.

https://docs.directus.io/api/graphql.html

I posted screenshots below. How does this factor into your plans for the project and incorporating a GraphQL approach? Is it workable?

![image](https://user-images.githubusercontent.com/1839603/77922689-5a4aa880-726f-11ea-85a3-afa415d5533f.png)
![image](https://user-images.githubusercontent.co

[2020-03-30 14:23] jajourda commented on #16
Looking at docs right now on direcuts. It looks promising. I'm curious to see what plans you have for implementation in next-right-now. maybe:  **nrn_free_variant**? 😄

[2020-03-30 15:48] jajourda commented on #19
Not yet. My plan is to try to work through the documentation and step-by-step successfully install and configure next-right-now E2E. I will try to work my insights into my own branch on my forked next-right-now repo. Hopefully I can make this into a pull request.

https://github.com/jajourda/next-right-now/tree/jajourda-docs

[2020-03-30 16:58] Vadorequest commented on #16
I've gone a bit deeper regarding the Directus GraphQL capabilities and limitations.

Basically, they don't handle permissions (yet) when using GraphQL, so you have the ability to fetch "any" data.

- I don't know yet what that means for sensitive data, I haven't looked into it and don't know how the GraphQL schema is generated. Does that mean we can fetch user passwords? I can't answer that yet.
-

[2020-03-30 18:19] jajourda commented on #16
I look forward to your implementation!

[2020-03-30 18:38] Vadorequest commented on #19
Awesome, I'm sure your insights will help polish the current "getting started" workflow to help polish angles for an easier/better developer experience :)

[2020-03-30 21:02] jajourda commented on #19
@Vadorequest  https://github.com/UnlyEd/next-right-now/pull/22#issuecomment-606247617

[2020-03-31 14:42] Vadorequest commented on #18
I'm thinking about renaming this feature from "variant" to "preset". I believe people are more familiar with the later.

What do you think @jajourda ?

[2020-03-31 18:27] jajourda commented on #18
@Vadorequest , honestly, it's a tossup.

when I hear "preset" i think of the concepts of **_approach_** and/or  **_methodology_**.  When I hear "variant" I think of **_framework_** or **_solution_**. I think Next-right-now is a framework/solution more than an approach.

I prefer **variants**, as it seems the most fitting noun that describes the nature of the feature. But I defer to your awareness

[2020-03-31 18:33] jajourda commented on #18
##### on second thought...

i think preset is possibly better and more in line with present usage.

If you are conceptualizing to Next-right-now as a **_configuration_**, i can employing preset as being better in line with how "preset" is currently being used across many repos on github.

[2020-03-31 18:51] Vadorequest commented on #18
Thanks for your feedbacks ;)

I do think about it as a configuration, and I do think people may understand it better if using a familiar word, rather than one I kinda feel like I invented on the fly.

[2020-03-31 21:02] jajourda commented on #16
#### i have been working through my walkthrough on the `jajourda-docs` branch in my forked repo.

What would it be like to convert an existing v1-ssr branch to the current default preset? I'm excited to try to employ the dircectus solution, but I want to wait for **best practices** if they are currently in the works.

[2020-03-31 21:11] Vadorequest commented on #16
The v1-ssr and the current master branch are identical, I haven't started any preset for real at this time.

Best practices would be to remove unused features, by following "How to remove X" guides, I'm currently working with them.

But, to build a preset, you'd need strong and deep knowledge about how the boilerplate currently works of the preset you're starting from. My plan is to build a few pr

[2020-04-01 03:31] Vadorequest commented on #18
Implemented through https://github.com/UnlyEd/next-right-now/pull/22 (documentation)

Next step is to add a bunch of new presets: https://unlyed.github.io/next-right-now/concepts/presets#which-presets-are-being-considered

[2020-04-03 15:12] Vadorequest opened #28 "Sentry doesn't have access to source maps in production"
# Status

Community is free to contribute, we won't likely have the time to add this feature

# Issue

Sentry doesn't have access to source maps, which makes debug harder.

I do not know how to fix that, I believe it had worked at some point in the past, but may have broken due to some dependency update.

![image](https://user-images.githubusercontent.com/3807458/78375873-be51d180-75cd-11ea-82f4-8

[2020-04-03 19:10] Vadorequest commented on #28
Is it working fine? It's not really the source code, it's not minified but it's not the source file either, kind of in-between.

I'll try to throw an error on the browser an update it

[2020-04-03 19:53] Vadorequest commented on #28
@a14m I created a PR to showcase both behaviours in a production environment:
https://github.com/UnlyEd/next-right-now/pull/29

I updated description and added production videos for browser/server sentry logs. It's not that bad IMHO, in development the browser logs are undecipherable but in production it's rather straightforward.

One fun thing is how the app behaves when there is a browser error

[2020-04-03 20:07] a14m commented on #28
Interesting, I don’t have any of those problems... the debug in development works fine (when I have source maps enabled, it’s a bit cryptic unless I’m running `next dev` but source maps works fine when I serve the generated site locally) but I still haven’t tested it with SSR (or serving from heroku app yet)

[2020-04-04 09:06] Vadorequest commented on #28
From what I could read at https://github.com/zeit/next.js/issues/8873#issuecomment-554920427, it does seem SSR has some role to play, so that could be related. Not sure how.

But anyway, bad source maps in development is not a real issue, what truly matters is production, because that's where we really need them to understand what's going on, and that's my real focus.

The way it currently works f

[2020-04-04 11:28] Vadorequest commented on #18
RFC implementation is over.

Also, the main github branch is now `gh-pages` instead of `master`, which has been deprecated (kept for external links support, avoid breaking external links)

All doc has been moved to gh-pages branch, and removed from other branches.

This was tedious to do and quite time consuming, thanks for your inputs and feedback @jajourda !

New presets will be created soon. I'

[2020-04-04 11:28] #18 closed

[2020-04-10 18:09] jajourda commented on #18
@Vadorequest , i 'm excited to see directus in action!

### thank you for all your  hard work on the docs!

[2020-04-10 19:00] jajourda commented on #14
### issues i can create a pull request for .... later

I'm currently working on a branch that just deals with typos in the documentation, but I thought maybe this was a space to enumerate "non-typo" issues that could be fixed later.

- broken vendor link on home page
![image](https://user-images.githubusercontent.com/1839603/79015950-d9779080-7b3b-11ea-9602-36c59f3f41dc.png)
probably needs to poin

[2020-04-13 07:08] Vadorequest commented on #14
Good catch! Fixed through https://github.com/UnlyEd/next-right-now/commit/b2acea1bf0b992ce037e2dc67f6824b03901a785

[2020-04-20 17:13] samuelcastro commented on #16
For an open source GraphQL server I'd use Hasura (https://hasura.io/) and just host it on Heroku for free while developing and then move it somewhere else.

[2020-04-20 17:23] Vadorequest commented on #16
Interesting @samuelcastro, I've never used it myself but heard of it quite a few times. It seems it connects to an existing DB. What would be your recommandation to host such a DB for free as well?

The goal being that the demo requires no upfront cost, whether related to GraphQL, servers or DB, etc.

[2020-04-20 18:14] samuelcastro commented on #16
So you can host DB for free on Heroku as well for development, for production I'd use something like Amazon RDS which also offers some free piers when starting.

[2020-04-20 23:48] samuelcastro opened #36 "List of Presets"
Hi, I couldn't find a list of presets, is this documented somewhere?

Thanks!

[2020-04-20 23:49] samuelcastro commented on #36
nvm, got it here: https://unlyed.github.io/next-right-now/getting-started/select-preset#common-to-all-presets

So right now there is only single preset right?

[2020-04-20 23:58] samuelcastro commented on #36
Yeah it looks like it, closing.

[2020-04-20 23:58] #36 closed

[2020-04-20 23:59] samuelcastro commented on #16
Just to add more color, Hasura implements a patter called 3Factor (https://3factor.app/)

[2020-04-21 08:17] Vadorequest commented on #36
Yes, there is only one at the moment. I want to add more but need some time to do so.

What presets would you be looking for?

[2020-04-21 08:20] Vadorequest commented on #16
Amazon RDS brings a ton of complexity, I wouldn't recommend it for getting started with a POC. It's very complex.

It's definitely doable, but I'm concerned it would bring much more complexity than what it'd solve.

On the other hand, hosting a DB for free on Heroku is very interesting!

[2020-04-22 18:59] samuelcastro commented on #36
So the `v1-ssr-mst-aptd-gcms-lcz-sty` is a great preset, I'm not sure I'd use GraphCMS though since Direct is for free, not completely sure yet.

[2020-04-22 19:09] samuelcastro opened #37 "SSG Support"
So you're adding `getInitialProps` on `_.app.tsx` meaning that there is no SSG support, are you planning to change this to a more dynamic way to suport SSG and SSR?

Thanks!

[2020-04-22 19:12] Vadorequest commented on #36
Any GraphQL-powered backend would work very similarly. (besides i18n content)

Directus is free, but you must host it somehow, so it's a bit more complex for a quick "getting started".
Of course you can use the Cloud version which comes with 1 month of free trial, but still gotta enter your payment information there, so that may be a blocker too.

There are other alternatives such as Strapi, but h

[2020-04-22 19:15] Vadorequest commented on #37
Yes, it's something that I want to do. My current business setup uses this SSR variant, but I plan on moving it to SSG for various reasons. It's definitely something I want to support.

See https://unlyed.github.io/next-right-now/concepts/presets#which-presets-are-being-considered

[2020-04-22 19:15] #37 closed

[2020-04-22 19:29] samuelcastro commented on #37
That's great, what's the deadline for that?

[2020-04-22 19:51] Vadorequest commented on #37
Not really, it's amongst the tons of things I have to do ASAP 😄

[2020-04-23 16:17] samuelcastro opened #38 "Locale subpaths"
Hey @Vadorequest does this have support for locale subpaths? Like https://github.com/isaachinman/next-i18next#5-locale-subpaths.

Thanks!

[2020-04-23 18:58] Vadorequest commented on #38
No, it doesn't because there was no need for it since it auto-detects the language and uses SSR.

But supporting i18n with SSG is gonna need locale subpaths, because everything will be statically generated.

So, it's possible to implement locale subpath with SSR, and it will eventually be supported with as SSG variant, but right now there is nothing available.

[2020-04-23 20:31] samuelcastro commented on #38
Ok, just a small feedback, why just don't move `getInitialProps` from `_.app.tsx` to an HOC and use it in a page basis, this simple step would make free NRN to use SSG.

[2020-04-24 09:22] Vadorequest commented on #38
That's an interesting way to solve this issue indeed. I'll give it a try, and it'll simplify the variants as well if I can use the same variant with both SSG/SSR per-page opt-in, it'd be much better. Thanks!

[2020-04-25 17:22] sovattha opened #40 "GraphCMS needs Bearer in authorization request"
When deployed in `eu-central-1`, GraphCMS returns an HTTP 400 if the `authorization` header is set without the `Bearer` prefix.

The sample application uses `api-euwest` which still accepts an authorization header set directly.

I provided a fix with the [pull request 39](https://github.com/UnlyEd/next-right-now/pull/39).

[2020-04-25 17:59] Vadorequest commented on #40
Fixed in both master and main preset branch.

[2020-04-25 17:59] #40 closed

[2020-04-26 15:53] Vadorequest commented on #38
@samuelcastro You should find this useful: https://github.com/zeit/next.js/discussions/10949#discussioncomment-6884

Also, I've started working on hybrid SSG/SSR at #42, but it's non-trivial and I'm still learning the Next.js internals related to the SSG feature.

[2020-04-27 21:23] samuelcastro commented on #38
Sounds good, thanks!

[2020-05-07 22:05] Vadorequest commented on #38
Locale subpath is now properly supported in #42, even though this branch isn't finished yet.

Closing this then.

[2020-05-07 22:05] #38 closed

[2020-05-07 22:07] Vadorequest commented on #16
@jajourda I've tried Directus but I'm not sure if I'll make an example with it. It was complicated (IMO) to begin with.

The goal isn't necessarily to use GraphQL, and I believe my next attempt will be based on Airtable (or similar).

I'm currently heavily working on #42 but once it's done I believe I'll focus on a airtable preset.

[2020-05-07 22:08] Vadorequest commented on #19
@jajourda Closing this, I believe it's fixed. Let me know otherwise.

[2020-05-07 22:08] #19 closed

[2020-05-09 18:21] Vadorequest opened #45 "Improve demo (UI/UX) + better examples"
## Status

PR in progress at https://github.com/UnlyEd/next-right-now/pull/52

## Context
@jajourda @samuelcastro I'd like to know what you think about the current demo (e.g: https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-oylx1iihd.now.sh/fr)

I think we should add more example and restructure those examples (UI/UX)

It's mostly visual, but do you have any idea about how to do it better? Would you li

[2020-05-11 16:35] 7iomka opened #46 "i18next & common questions"
Hello! Thank you very much for your work!
It is possible to continue usage of i18next but without locize vendor?
Advise steps for implementation please!

PS: I tried using next-i18next but their configuration uses `getInitialProps` in `_app` and this **disables static optimization**. The developers themselves [refuse](https://github.com/isaachinman/next-i18next/issues/586#issuecomment-624810221) t

[2020-05-11 16:54] Vadorequest commented on #46
Hello @7iomka :)

Yes, it's totally possible to do without Locize, even though no official preset was released without Locize built-in so far. (I'll do that someday, but want to polish current SSG support work in progress before)

Also, I invite you to check the current PR regarding **SSG** support:
https://github.com/UnlyEd/next-right-now/pull/42

This branch provides full SSG support using the l

[2020-05-11 16:55] Vadorequest commented on #46
@jajourda FYI this could be useful to you too :)

[2020-05-11 17:19] samuelcastro commented on #45
So these are my thoughts:

- I don't think we need to show up getInitialProps, next.js is slowly moving away from it.
- Include support for Incremental Static Generation would be a great bonus, since it's fairly new feature/concept.
- I honestly don't like `reactstrap/bootstrap`, it'd be great to use [styled-system](https://styled-system.com/) and maybe [rebass](https://rebassjs.org/), they're bas

[2020-05-11 17:26] 7iomka commented on #46
@Vadorequest Thanks you very much! I will check proposed steps a little later.
I'm worked with my own branch, because I don’t need much of what your branch offers (analytics, logging, multiple utils)
But in order to borrow your approaches to reorganizing code in `_app`, I now need to study a lot of your code, leaving only what I need. Ultimately, when this routine work is over, I hope that I get a

[2020-05-12 10:40] Vadorequest commented on #45
Thanks for the feedback, gonna answer point by point:

**- I don't think we need to show up getInitialProps, next.js is slowly moving away from it.**

✅ Agreed. Let's avoid those and focus on the new API getStaticProps and getServerSideProps.

**- Include fallback and revalidate would be interesting since they're fairly new features.**

✅ Agreed. How would you like to showcase those 2 features?

*

[2020-05-12 10:48] Vadorequest commented on #46
Yes, it does come with a lot of built-in stuff, at some point I may release lighter presets. Current preset is actually based on our own internal requirements, hence the complexity.

I should make a RFC about this suggestion actually... Timer (from Next.js core team) asked me ahah

[2020-05-12 11:58] 7iomka commented on #46
Yes, you did a lot of work to create such an assembly with such a set of different tools for different tasks. For newcomers (such as me) it is very difficult to tear out some functional isolated. For example, I am not familiar with architecture of now deployment, and I'm a little confused about how I define this env variable for various node_env (I have this question because I see you use multiple

[2020-05-12 12:28] Vadorequest commented on #46
Actually, you only need to create what's recommended in https://unlyed.github.io/next-right-now/getting-started/quick-start, which is `.env.build`.

If you deploy on Vercel, only the now.*.json files are used in staging/production. The .env.build file is only used locally.

Reading https://unlyed.github.io/next-right-now/concepts/env-and-stages should help, too.

[2020-05-12 12:57] 7iomka commented on #46
Ok! Thanks.
One last question (may be need to create another issue with questions like this).

it's possible to rewrite _app as functional component (currently you use class component)?
I try this
[code]

[2020-05-12 13:00] Vadorequest commented on #46
No, it's not possible to use a class component (AFAIK), because it has to extends the native `import NextApp from 'next/app';`, and relies on it for error handling and more.

[2020-05-12 13:04] 7iomka commented on #46
My question is not closely related to your assembly.
I want to implement my `_app` as a functional component (in accordance with the recommended use case in the documentation).
In my assembly I don't use error handling and I don't need `componentDidCatch`
So I don't know what type of props I need to pass to MultiversalAppBootstrap component

[2020-05-12 13:07] Vadorequest commented on #46
I suggest you ask on the Next.js community for this, but my recommendation is to keep it as it. You should look at what `import NextApp from 'next/app';` does underneath, I'm fairly sure Next.js app **can't work without out it**. It's necessary, IMHO.

[2020-05-12 13:10] 7iomka commented on #46
@Vadorequest , Official docs example https://nextjs.org/docs/basic-features/typescript#custom-app - this is functional component and with this all works fine
My question is how to integrate your component MultiversalAppBootstrap in _app if it is a functional component?
![image](https://user-images.githubusercontent.com/18473137/81695241-0a185600-946b-11ea-9d8b-37f5a15c1c51.png)

[2020-05-12 13:13] Vadorequest commented on #46
Oh, interesting, they've changed that. Thanks, I'll use a functional component too then :)

Based on their examples:

[code]

This should do it.

[2020-05-12 13:27] 7iomka commented on #46
There is still work to be done on indicating the correct type, because now it shows an error in my assembly.
Perhaps these are some of my improvements. Do you have any errors with this use?
My current workaround is ` return <MultiversalAppBootstrap {...(props as any)} />;`

[2020-05-12 13:34] 7iomka commented on #46
Oh
I found workaround: just import `Props` type from `MultiversalAppBootstrap` component
and pass it to `MyApp(props: Props)` - it fixes error with typing but I don't know if this is correct way)

[2020-05-12 15:53] 7iomka commented on #46
Another small question about i18n implementation: do you have any thoughts on the implementation of your TODO ?
https://github.com/UnlyEd/next-right-now/blob/v1-hyb-mst-aptd-gcms-lcz-sty/src/utils/i18n/i18n.ts#L32

[2020-05-12 16:09] Vadorequest commented on #46
Nope, but I'll address that before considering this preset "done". (please open different issues 😉)

[2020-05-12 17:28] samuelcastro commented on #45
I think we should keep this simple, maybe create a sample fallback page that will be static generated on-demand, maybe something like https://static-tweet.now.sh/

Ok that make sense, the focus here is more next.js rather than best UI/UX pratices.

I meant, the `target: "serverless"` on next.js (https://nextjs.org/docs/api-reference/next.config.js/build-target#serverless-target), but I just realiz

[2020-05-12 19:12] 7iomka commented on #46
I just renamed this title for consistence.

Another hot question about how works i18next integration in this assembly:
how you make changes with url programmatically? I mean something like `Router.push('/products')`
Currently I see you don't have an customized Router instance to do that without page reload (in `utils/app/router` I just found `resolveI18nRoute` used in customized component `Link`.

[2020-05-13 10:36] Vadorequest commented on #45
Good idea. Re-implementing their Twitter example is possible.

I hadn't noticed that. They say we shouldn't opt-in if we use Vercel, so keeping it as it is probably good enough. But I'd like to make it obvious, so I'll add a comment about it for transparency.

Great suggestion. I've just gone through https://nextjs.org/blog/next-9-4#integrated-web-vitals-reporting and I believe we could implement

[2020-05-13 16:53] samuelcastro commented on #45
Yeah, that sounds great.

I'm excited about this :)

[2020-05-14 00:49] 7iomka commented on #46
Another question- it is possible to make to switch locale to another one without full page reload?
If for us `i18nextInstance` available inside our pages _(yes by the way with this you forgot to add to types `MultiversalAppBootstrapPageProps`)_
you can make language-switcher and use code like this:
`<button type="button" onClick={() => i18nextInstance.changeLanguage('fr')}>`
This will change local

[2020-05-15 11:55] Vadorequest commented on #45
Adding errors to the list:
- 500 top-level error (would display native 500 error page I guess)
- 500 page error (would display page with DefaultErrorLayout)
- 404 page

[2020-05-15 14:30] 7iomka opened #47 "i18nextInstance prop is missing in types declarations in ssr/ssg pages"
![image](https://user-images.githubusercontent.com/18473137/82061560-8b712200-96d1-11ea-87d7-2c308fbd7383.png)
This prop is provided for all pages through MultiversalAppBootstrapPageProps
but not actually present in types SSGPageProps or SSRPageProps.
Why?
How to use it in pages without ts errors?

[2020-05-15 14:39] Vadorequest commented on #47
That's a mistake on the TS typings then, I'll have a look at it.

[2020-05-15 14:41] Vadorequest commented on #46
@7iomka You must use the native Next.js router for programmatic usage.
`const router: NextRouter = useRouter();`

---

It's not possible to change the language this way, you need to use the router to change the file being used. But I'll actually implement that on the PR so you can also just wait for it!

[2020-05-15 16:14] 7iomka commented on #47
I tried to fix this with:
`pageProps.ts`

[code]

[code]

I thought that was enough, but this inconsistent. I mean to have access in autocompletion inside `getCommonStaticProps` or `GetCommonServerSidePropsResults` because it don't need properties from `MultiversalAppBootstrapPageProps`.

My hotFix:
1. change `StaticPropsOutput` to receive generic
[code]
2. file `ssg.ts`
[code]

3. file `ssr.ts`
[

[2020-05-15 16:24] Vadorequest commented on #46
I've changed the implementation of language switching in the footer. It doesn't do a full page refresh anymore.

https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-i5bbeso8b.now.sh/fr/examples

[2020-05-15 16:24] #46 closed, assigned to nobody

[2020-05-15 16:27] Vadorequest commented on #47
Okay, first, why do you need to access `i18nextInstance` from the page? What do you want to do with it?

[2020-05-15 16:31] Vadorequest commented on #47
@7iomka Fixed it with https://github.com/UnlyEd/next-right-now/pull/42/commits/58cd8a62319ac19b76c08774039b376501744721

Does that work for you?

[2020-05-15 16:41] Vadorequest commented on #47
My bad, it hasn't fixed it, deploy has failed on vercel. I'll take a deeper look.

[2020-05-15 16:51] Vadorequest commented on #47
@7iomka Don't hesitate to use `@ts-ignore` when running into that kind of time-wasting issues that don't actually affect the app. Most of the time, it's not worth spending too much time monkeypatching something like that! 😉

I believe https://github.com/UnlyEd/next-right-now/commit/b52802b07547780a8e10cb341c5605913b1460c7 should do it, I'll wait for CI to pass to confirm it.

[2020-05-15 16:55] Vadorequest commented on #47
Indeed, fixed. Closing!

[2020-05-15 16:55] #47 closed, assigned to nobody

[2020-05-15 16:57] 7iomka commented on #47
@Vadorequest
1. In your current implementation I don't see how to change locale programmatically without page refresh to get
 - new locale to be replaced in current browser url
 - new translation to be loaded from local source (json) if I'm not using locize
I tied to do this for myself:

[code]

[code]

This is just example (wip).
I don't know, why you don't realize one source of truth how as done

[2020-05-15 17:17] Vadorequest commented on #47
You do have a Router, using Next.js router https://nextjs.org/docs/api-reference/next/router and that's all you need for programmatic usage.

`i18nextInstance` is provided to pages as a helper, but you most likely don't need it. What you need is the `t` function from react-i18next.

`const { t, i18n } = useTranslation();` see https://react.i18next.com/latest/usetranslation-hook

The page now refre

[2020-05-15 17:28] 7iomka commented on #47
Ok, but if I want to just simple go with router to another page or to add some query parameters, I need everytime to make some url calculation like this?:
[code]

[2020-05-15 17:29] 7iomka commented on #46
@Vadorequest, see please my 1) question
https://github.com/UnlyEd/next-right-now/issues/47#issuecomment-629370380

I tested this example, it works nice except one strange behavior:
1) Open page with `en` locale: https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-i5bbeso8b.now.sh/en/examples
2) disable javascript on the page (chrome dev-tools => ctrl/cmd + shift + p => type `disable javascript`)
3) reload

[2020-05-15 17:34] Vadorequest commented on #47
If you need to do it programmatically, yes. Can't you use `I18nLink` component instead?

`router.push(`/${locale}/products`);` won't work, you need to handle query parameters properly (it's how Next works), so it'd rather be:
`router.push(`/[locale]/products`, `/${locale}/products`);`

And yes, in such case you'll need to know `locale`, but you can access it from any component using hooks by doing

[2020-05-15 17:39] Vadorequest commented on #46
I don't reproduce this, if I disabled JS then nothing happens when I click on the flag image.

Here is a video of the behaviour, seems to behave as expected.
https://youtu.be/F9kWFgKMrT8

[2020-05-15 17:59] 7iomka commented on #46
you were inattentive)

don't try to toggle language without js)

try steps from above and you will se page with `en` but in french after manually reload (got fro server)
![image](https://user-images.githubusercontent.com/18473137/82081640-57a4f500-96ef-11ea-9036-bee4fbceaae5.png)

[2020-05-15 18:01] 7iomka commented on #46
Another improvement idea - include query parameters to not be removed after locale changed.
[code]

[2020-05-15 18:07] Vadorequest commented on #46
Okay, I see.

FYI you can use https://chrome.google.com/webstore/detail/screencastify-screen-vide/mmeijimgabbpbgpdklnllpncmdofkcpn for bug reporting, it's great. :)

[2020-05-15 18:12] Vadorequest commented on #46
It's due to a caching issue caused by the i18nextLocize singleton, I'll fix it quickly.

[2020-05-15 18:24] 7iomka commented on #47
@Vadorequest
In next.js dynamic routes are written
[code]

since we have [locale] - a required part of any router.pathname
this creates certain inconveniences associated with the fact that we ALWAYS need to include the second parameter in router.push even if the route does not contain other dynamic parts,
since [locale] is automatically in any of them
that is, to simply go to the product page, we

[2020-05-15 18:30] Vadorequest commented on #47
Yup, it's similar to what I've done already with `I18nLink` component.

We aren't supposed to use the router dynamically that much though, the only use case I've got so far is when switching languages. Building a helper or wrapper that does this is possible, but I think `i18nRedirect` already answers your need.

[code]

What it misses is another parameter for the newUrl, it currently uses a hardco

[2020-05-15 18:50] 7iomka commented on #47
@Vadorequest , router has many methods that user can use in production - `replace`, `prefetch`...
Without common wrapper how to do that? no way.
`i18nRedirect` just do what named - redirect to provided locale.
Basic goal to make an common wrapper - to use whole next router api without worrying about [locale] and do not write unnecessary boilerplate code to just include [locale] in each call even f

[2020-05-15 18:59] Vadorequest commented on #47
I understand, but I still don't believe you need something so complicated.

If your only use case is to use `router.push`, then writing a helper will do the job.

If you want to support a more complicated setup, then extending the native Next router makes more sense, as you pointed out. (but I don't see the use-case for this)

If you really want to write a wrapper, you should do it in /components,

[2020-05-15 19:00] Vadorequest commented on #46
Fixed by https://github.com/UnlyEd/next-right-now/pull/42/commits/386ac66e4afe7f5f433048764e630a40438d0fe7

demo https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-d66yedqcz.now.sh/fr

[2020-05-15 19:20] 7iomka commented on #46
Nice! 👍
One question about [386ac66](https://github.com/UnlyEd/next-right-now/commit/386ac66e4afe7f5f433048764e630a40438d0fe7)
you overwrite globalInstance of i18n instance instead to `.addResourceBundle`, - it is normal practice?
In my use-case I will have live-edit mode for some page, and for the end-user, switching the language to change translated entities will be a frequent and trivial task.

[2020-05-15 21:02] samuelcastro commented on #45
Should we add the prod rollback if E2E is failing here?

[2020-05-15 21:38] Vadorequest commented on #46
I didn't look into the i18next API and wasn't aware of `addResourceBundle`.

There is no benefit about overriding the whole instance, but I guess this way I'm sure I don't run into caching issues.

Also, it's not really an issue with the way it currently works, I don't see any real benefit about not overriding it. (maybe would be faster, but it's so fast already it wouldn't be humanly perceptible)

[2020-05-15 21:39] 7iomka commented on #47
if I access to `i18n` instance it is not the same as `i18nextInstance` from the props.
Why?

[2020-05-15 21:41] Vadorequest commented on #45
I'll rather open a separate issue

[2020-05-15 21:43] Vadorequest opened #48 "RFC - Automated recovery when E2E fail in production (CI/CD)"
Goal: Discuss desired behaviour about automated rollback to the "previously successful" deployment when a new deployment fails E2E tests in production stage.

[2020-05-15 21:46] Vadorequest commented on #47
i18nextInstance is not meant to be used, it's just provided "in-case-of", but what's meant to be used is `useTranslation()` hook.

[2020-05-15 21:58] 7iomka commented on #47
in my case when I work with local json files I don't want to load json file if is already exist in store of i18next

if I use i18nextInstance I have one source of truth to the whole app but it is not in sync with useTranslation hook!
I tried to use i18n from it, but nope - it's not constant and after each language change I load json local file...
[code]

if I replace `i18n` with `i18nextInstance`

[2020-05-16 00:15] samuelcastro commented on #48
We could also use a [blue-green strategy](https://docs.cloudfoundry.org/devguide/deploy-apps/blue-green.html), I personally used it in project a while ago, it's a robust solution, the problem I see with just rolling back when e2e tests fails is that production will have a bad deployment live for quite some time (the time to finish up e2e).

[2020-05-16 00:24] samuelcastro commented on #48
More relevant links:

https://martinfowler.com/bliki/BlueGreenDeployment.html
https://spectrum.chat/zeit/now/blue-green-strategy~d1e657ae-761d-4668-9ed6-8f1648cf358e
https://github.com/zeit/next.js/issues/4337

[2020-05-16 00:29] Vadorequest commented on #48
The design is very interesting, but the implementation is non-trivial, really.

Since Vercel only allows one production deployment per project, this would mean it'd switch between 2 project (blue/green), there is a lot of stuff behind such automation. And it'd be a very different implementation depending on the hosting provider.

[2020-05-16 00:32] samuelcastro commented on #48
I think just by using alias would make things easier see: https://spectrum.chat/zeit/now/blue-green-strategy~d1e657ae-761d-4668-9ed6-8f1648cf358e

[2020-05-16 00:45] Vadorequest commented on #48
Indeed, that may simplify things quite a lot.

[2020-05-16 19:17] 7iomka opened #49 "It is possible to drop winston dependency in production?"
Hi.
I enabled bundle analyze
with your implementation of logger
`import { createLogger } from '@unly/utils-simple-logger';`
I need to install dependency `winston` to use it.
I only need logger in development.
It is possible to drop from production build?
Why?
![image](https://user-images.githubusercontent.com/18473137/82128331-ffd7be00-97c2-11ea-8a6e-6c22a55892cc.png)
![image](https://user-images.

[2020-05-17 00:21] Vadorequest commented on #49
`logger` is also used in production, to report errors in the console.

But if you don't like it, just remove it then.

I don't know how to remove a package from build for a particular stage/env. I don't know how big Winston is (74kb, that much? Or is it 18.84kb?), I'll try to take a look at it at some point.

[2020-05-17 01:24] 7iomka commented on #49
Without logger.
![image](https://user-images.githubusercontent.com/18473137/82133505-a9d03e00-97f5-11ea-99f8-a5229d7b9e66.png)

I find it too expensive to spend such resources for simply logging in production.
Please show your screenshot of the application build (I want to take a look for fun)

Now I’m just preparing myself an assembly for the start of the project, and I have borrowed your approac

[2020-05-17 17:15] Vadorequest commented on #49
I agree with you, I wasn't aware it was so heavy.

Here is the production build:

![image](https://user-images.githubusercontent.com/3807458/82155019-446e6280-9872-11ea-8ac1-d84ab8239236.png)

Rewriting the logger will be a perf improvement. I wasn't so happy with it, but if it's that heavy then it's even worse than I thought. I'll try to find for a proper alternative, thanks for the heads-up!

[2020-05-18 10:28] Vadorequest commented on #49
I'm considering https://github.com/klaussinani/signale as a replacement, much lighter (x10). I'll give it a try.

[2020-05-18 15:39] Vadorequest commented on #49
signale didn't work out (as well as many others), eventually I tried ulog and made a PR https://github.com/UnlyEd/next-right-now/pull/50 but it's not usable yet.

It's crazy how hard it is to do something so simple...

[2020-05-18 19:03] samuelcastro commented on #49
Yeah I've noticed that same issue, it would be great to find out a better alternative.

[2020-05-18 19:12] Vadorequest commented on #49
If you know any, I'm interested, I've looked over ~6-10 of them so far. ulog and debug were my favorites so far.

[2020-05-18 19:32] samuelcastro commented on #49
`debug` is more used and it's small, I've never used `ulog` though, looks interesting.

[2020-05-18 20:12] samuelcastro opened #51 "Improvements to consider"
I want to list a few things that can improve performance even more:

[Next Optimized Images](https://github.com/cyrilwanner/next-optimized-images): To optimize image load.
[Babel Import Graphql](https://www.npmjs.com/package/babel-plugin-import-graphql): Babel plugin to enable import syntax for `.graphql` and `.gql` files.
[Babel Plugin Graphql Tag](https://github.com/gajus/babel-plugin-graphql-ta

[2020-05-18 21:34] 7iomka commented on #49
`ulog` really looks interesting

[2020-05-19 08:07] Vadorequest commented on #51
Thanks for the suggestion.

- [Next Optimized Images](https://github.com/cyrilwanner/next-optimized-images): To optimize image load.
  - Interesting, this could be great, especially with SSG, because all images could be optimised at build time.
- [Babel Import Graphql](https://www.npmjs.com/package/babel-plugin-import-graphql): Babel plugin to enable import syntax for `.graphql` and `.gql` files.

[2020-05-19 08:13] Vadorequest commented on #51
Regarding 1), they're also working on a v3, and there are some drawbacks to using this lib (complex to configure, apparently)

https://github.com/cyrilwanner/next-optimized-images/issues/120

[2020-05-19 10:00] Vadorequest commented on #45
WIP at https://github.com/UnlyEd/next-right-now/pull/52

[2020-05-19 12:34] samuelcastro commented on #51
I’m using all those libs in a project right now, I’d be glad to send a PR, setting up is fairly simple.

[2020-05-19 15:19] Vadorequest commented on #51
Awesome. Could you make a pr for images optimisation and another for the babel plug-in graphql tag then? We'll see how much size improvement it'll do :)

[2020-05-19 17:03] samuelcastro commented on #51
This is the image optimization PR: https://github.com/UnlyEd/next-right-now/pull/53

[2020-05-19 17:11] samuelcastro commented on #51
This is the graphql-tag optimization PR: https://github.com/UnlyEd/next-right-now/pull/54

[2020-05-20 01:21] n00nietzsche opened #55 "in Windows 10, it doesn't work."
I just did things to get started for this.

but i got this message

[code]

when i installed this on my Mac laptop, it worked well.

it's a really shame that i can't run this on my window laptop.

[2020-05-20 06:42] Vadorequest opened #57 "RFC - Facilitating code contributions"
Right now, non-documentation contributions are a bit tough to work with, because Ci isn't configured on contributor's forked repository, and I don't see another way than making my own branch (created from the PR's `patch`) and push it on NRN repository.

An alternative might be to allow contributors to this project, but I don't really see better alternatives, and it's still a bit too cumbersome fo

[2020-05-20 06:56] Vadorequest commented on #55
`The system cannot find the path specified.`

This seems to be a Next.js related error. Also, I really can't debug this with so little information. Also, I don't really intend of supporting Windows by myself, because I don't use it and can't test it.

I'm open to contributions though, but it has never run under windows and there are millions of reasons it may fail on it.

I suggest you report this

[2020-05-20 07:00] n00nietzsche commented on #55
Thanks for rapid response. I actually solved 'The system cannot find the path specified.' issue.

it was my PATH environment variable problem.

but it still doesn't work.

so i decided to use wsl2 to run this in Windows.

anyone want this to run in Windows. just use wsl2. it would be much comfortable.

[2020-05-20 07:00] #55 closed, assigned to nobody

[2020-05-20 07:24] Vadorequest commented on #55
Glad to know you found how to fix this!

Was it related to Next.js, or NRN? Would you mind contributing to the documentation (`gh-pages` branch) and add your question/answer to the [FAQ](https://unlyed.github.io/next-right-now/faq)? (see https://unlyed.github.io/next-right-now/contributing)

[2020-05-22 18:31] samuelcastro opened #62 "GraphCMS Locale fallback"
Searching about locale fallback I came across this https://graphcms.nolt.io/35, and I noticed you're not using `gcms-locale` is it just because of the limitation of the locale in the free version of GraphCMS?

Isn't it better to add it and include the supported default supported locales we have even though it might not make effect for a free account at least people will know this is available.

Ma

[2020-05-22 22:42] Vadorequest commented on #62
Actually, it's already how it works! 😉

https://github.com/UnlyEd/next-right-now/blob/d1204230db011189ff262ee3e9284a024f9a47f0/src/utils/nextjs/SSG.ts#L54

The current behaviour is to use [selectedLanguage, alternativeLanguage] (e.g: `['FR', 'EN']`) if the page you visit is in `fr`.

This way, it'll select FR content and then fallback to EN content if FR isn't defined.

[2020-05-22 22:42] #62 closed, assigned to nobody

[2020-05-22 23:56] samuelcastro commented on #62
Oh, I missed it, I was looking this file: https://github.com/UnlyEd/next-right-now/blob/v1-hyb-mst-aptd-gcms-lcz-sty/src/utils/gql/graphql.ts#L15

Thanks!

[2020-05-25 17:51] samuelcastro opened #63 "Preset request - Simple authentication workflow (Auth0/Firebase Auth/AWS Cognito)"
I think it'd be really helpful to show up some simple authentication workflow, maybe using Auth0 or Firebase Auth or even AWS Cognito. Just to illustrate how one would handle cookies coming from the server, specially with the  server/bowser reconciliation in the context of a SSR/SSG.

What do you think.

[2020-05-26 07:30] Vadorequest commented on #45
I'm almost done with the Demo rewrite. Latest demo at https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-g99eujlm6.now.sh

What's coming next is proper examples for SSG/R with their variations (revalidate, fallback)

[2020-05-27 19:18] Vadorequest commented on #45
Example with fallback mode has been implemented, it was a bit harder than I thought so.

Now, a `isSSGFallbackInitialBuild` variable is available in all pages as prop, and helps to know if the page was was built during the current "request".

[2020-05-27 21:14] Vadorequest commented on #45
Fallback mode available at https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-8zo69v8h2.now.sh/fr/examples/native-features/example-with-ssg-and-fallback/111

[2020-05-27 22:39] Vadorequest commented on #45
Revalidate demo available at https://nrn-v1-hyb-mst-aptd-gcms-lcz-sty-c1-i6tj62ina.now.sh/fr/examples/native-features/example-with-ssg-and-revalidate

PR is ready and has implemented all requirements, I'll merge.

[2020-05-27 22:47] Vadorequest commented on #45
Merged through [https://github.com/UnlyEd/next-right-now/pull/42/commits/555b44b13b33415bfb0f3b0a7fb1d00debe28ced ](https://github.com/UnlyEd/next-right-now/pull/42/commits/555b44b13b33415bfb0f3b0a7fb1d00debe28ced)

[2020-05-27 22:47] #45 closed, assigned to nobody

[2020-05-28 17:18] Vadorequest opened #65 "CodeSandbox template"
# Context

I'd love to have a CodeSandbox template available, it would be great for a few use-cases:

- Allowing newcomers to test stuff on CodeSandbox without having to install anything locally
- Provide a CodeSandbox link when reporting issues to other 3rd parties (like Next, etc.)

# Status

WIP, unstable

---

I've tried to do it, but ran into a few unexpected issues.

CodeSandbox issue: https

[2020-05-28 17:54] Vadorequest opened #66 "Add type inference for getStaticProps and getServerSideProps"
Since v9.4.4, type inference is natively supported by Next.js

See https://github.com/vercel/next.js/pull/11842

The main advantage is that it doesn't require to manually write props for pages, but those would be inferred from the return value of getStaticProps or getServerSideProps.

[2020-05-28 17:58] Vadorequest commented on #63
I think it's too specific to be part of the current default preset, but if the community want to build a different preset that showcase such workflow, that could be interesting.

I don't have any need for this, so I won't work on it myself.

Regardless, it's a good consideration.

I recommend to wait until things have calmed down (lots of stuff going on right now), before working on this. I believ

[2020-05-28 19:57] Vadorequest commented on #66
Attempted with the `[albumId]` page, but failed.

Type inference doesn't seem to properly detect the returned value from `getStaticProps`, and it doesn't really simplify things because it hides away the configuration from the developer even more, which isn't necessarily a good thing. (harder for beginners)

[code]

[2020-05-28 19:57] #66 closed, assigned to nobody

[2020-05-28 19:58] Vadorequest commented on #28
Closing this, TL;DR: It works fine in production mode.

[2020-05-28 19:58] #28 closed

[2020-05-28 20:30] samuelcastro commented on #63
Ok sounds like a plan, I don't think it's too specific though, almost all web app needs to handle authentication at some point.

[2020-05-28 20:34] Vadorequest commented on #63
The concept is indeed very common, but the implementation is very specific (and complexifies things quite a bit).

I try as much as possible to provide generic features, with generic vendors. Most newcomers are lost with the existing vendors set, too much already. Hence why I prefer to keep working on the planned presets, which will eventually lead to a much simpler one. And from there we can add

[2020-05-28 20:46] Vadorequest opened #67 "Use .env instead of .env.build file"
# Motivations

Next has recently released a new way to handle env variables.

The migration to .env instead of .env.build would allow to use `next dev` instead of `now dev`.

This change may fix the current "Next.js dev server gets stuck after a while, requests just spin" (see https://github.com/vercel/vercel/issues/3612#issuecomment-635430002)

Also, it would allow to run Next in debug mode using

[2020-05-28 22:34] samuelcastro commented on #67
This would be great, I was going to open up an issue, glad you did it.

[2020-05-29 13:18] Vadorequest commented on #67
Also thinking of the new NEXT_PUBLIC_* env variables, will to see if I can integrate this as well.

[2020-05-30 16:01] Vadorequest commented on #51
I'm closing this in favour of the related PRs.

[2020-05-30 16:01] #51 closed, assigned to nobody

[2020-05-30 16:05] Vadorequest commented on #49
Status of this:

I've attempted to use ulog, but couldn't make it work and didn't hear back from the author https://github.com/Download/ulog/issues/29

I don't have time to dig deeper, I agree that we could find a lighter alternative to Winston. (FYI I use https://bundlephobia.com/result?p=winston@3.2.1 to compare them before doing any work on them)

Feel free to propose a better alternative with

[2020-05-30 16:08] Vadorequest commented on #36
List of presets has been updated to make it easier to find.

https://unlyed.github.io/next-right-now/available-presets/

[2020-05-30 23:33] Vadorequest opened #71 "Preset request - Replace GraphQL API by Airtable"
The goal is to replace GraphQL API by Airtable API, for several reasons:
- Showcase how to consume a REST-ish API
- Easier to setup than GraphCMS
- Airtable provides a free plan, and has much higher limitations than GraphCMS for its free plan
  - Requested https://github.com/UnlyEd/next-right-now/issues/16
- Make this the new default preset (simpler, cheaper)

Base preset: v2-mst-aptd-gcms-lcz-sty

[2020-05-30 23:33] Vadorequest commented on #16
@jajourda FYI https://github.com/UnlyEd/next-right-now/issues/71

[2020-05-30 23:40] Vadorequest opened #72 "Use with-graphql-hooks instead of Apollo (reduce bundle size)"
with-graphql-hooks may be an alternative to the current implementation

See https://github.com/vercel/next.js/tree/canary/examples/with-graphql-hooks

Main interest would be to reduce the bundle size (for all pages)

I'll give it a try at some point, if nobody does it first 😉

[2020-05-30 23:44] Vadorequest opened #73 "Add more crash test cases (Sentry)"
See https://github.com/lfades/next.js/tree/7b64cae6814fbc2a174632fe7833bba239bf9fd1/examples/with-sentry-simple

Most interesting tests are `client/`

I had tried to add more SSG tests like that for the server, but Vercel crashes during build and the whole build fails, so it's not possible to write meant-to-crash tests like that (hence the focus on the client, or maybe necessary to build those as

[2020-05-31 13:22] Vadorequest opened #75 "Treat NRN own preset branches as "production" branches (Github Actions)"
I'd like preset branches to be treated as production branches.

For example, pushing to https://github.com/UnlyEd/next-right-now/tree/v2-mst-aptd-gcms-lcz-sty would trigger a Vercel `production` deployment.

This would help enforce any work should be done under a different branch, and then merged into preset branch(es).

This way, each branch preset would automatically use a production deployment.

[2020-05-31 21:41] Vadorequest commented on #67
@samuelcastro WIP at https://github.com/UnlyEd/next-right-now/pull/77, could use your review! :)

Much easier than expected, let me know what you think.

[2020-05-31 22:19] Vadorequest opened #78 "Automated LightHouse reporting as PR comment (Github actions CI)"
# Goal

Run a lighthouse report when a commit is pushed, which eventually displays the lighthouse results as a PR comment.

https://github.com/foo-software/lighthouse-check-action/issues/24

This could run in parallel with E2E (or afterwards, I'm not sure if parallel github actions are possible)

[2020-06-01 07:24] Vadorequest commented on #75
Answer given at https://github.community/t/is-it-possible-to-conditionally-run-an-action-based-on-the-repo-name-url/116115/2?u=vadorequest

[code]

So, it seems technically doable. Need to think a bit more about how to do it exactly, I'm thinking using distinct files (dedicated to NRN presets branches), but I'm not sure it's the best course of action.

[2020-06-01 15:13] Vadorequest commented on #55
@n00nietzsche The new NRN v2 version supports Windows 8/10 out of the box, I tested it today. Doc has been updated.

[2020-06-01 16:35] Vadorequest commented on #67
Closing, has been merged and fully functional.

It has reduced the pain for getting started with NRN, so that's great!

[2020-06-01 16:35] #67 closed, assigned to nobody

[2020-06-01 16:35] Vadorequest commented on #49
Gonna attempt with http://getpino.io/#/

[2020-06-02 01:38] n00nietzsche commented on #55
Thanks a lot!!!

[2020-06-02 22:06] samuelcastro commented on #75
Could you elaborate a little bit more what/why it could be harmful?

[2020-06-02 22:12] samuelcastro commented on #72
Keep in mind that pages using SSR/SSG will not be able to use react hooks, so probably you'd need this: https://github.com/nearform/graphql-hooks/tree/master/packages/graphql-hooks-ssr

[2020-06-02 22:14] samuelcastro opened #85 "Preview Mode + Security"
Are you planning to implement any security check on preview mode, like: https://nextjs.org/docs/advanced-features/preview-mode#securely-accessing-it-from-your-headless-cms

I was looking to see how GraphCMS handles it but couldn't find much, just https://docs.graphcms.com/docs/guides/preview-environment-flow.

[2020-06-02 22:21] samuelcastro commented on #85
This explains my question: https://github.com/vercel/next.js/discussions/13589

[2020-06-02 22:38] Vadorequest commented on #75
Let's say we have a rule where all branches that start with `'v[1-9]'` are automatically deployed to production, this could be misused by someone cloning NRN. And it's not really the kind of stuff you're aware of, until things go wrong.

[2020-06-02 22:39] Vadorequest commented on #72
Good point!

It's true actually that all pages only fetch data from the server side, whether SSR/SSG, none of them does it from the client side.

[2020-06-02 22:40] Vadorequest commented on #85
Maybe that should be explained in the preview page though?

[2020-06-02 23:25] Vadorequest commented on #71
This has officially started. See PR.

[2020-06-03 10:14] Vadorequest opened #87 "Alternatives / Inspirations"
- [`next-boost`](https://github.com/rjyo/next-boost) - _"Add a cache layer for server-side-rendered pages. Use stale-while-revalidate to boost the performance."_
	- Article - Introduction to [Next Boost](https://github.com/vercel/next.js/discussions/13705)
	- Seems to be heavily focused on improving **SSR performances** (while NRN rather promotes SSG)
		- 👉 _Maybe some of those optimisations could

[2020-06-03 10:27] #13 closed

[2020-06-03 17:43] samuelcastro commented on #75
I see, make sense.

[2020-06-03 17:44] samuelcastro commented on #85
Yeah, like I needed to do some research to understand the whys of the current implementation. so more information is important.

[2020-06-03 17:53] samuelcastro commented on #85
Re-opening this for now until more information is added.

[2020-06-03 18:14] Vadorequest commented on #85
Where would you see such doc being added?

[2020-06-03 22:17] samuelcastro opened #88 "Error when building locally"
I'm getting an error when building the up locally, everything is fine on vercel though.

[code]

**Steps to reproduce:**

- yarn build

**Results:**

<img width="993" alt="Screen Shot 2020-06-03 at 3 15 52 PM" src="https://user-images.githubusercontent.com/5281701/83694608-3710e200-a5ad-11ea-8d37-961ff63f4798.png">

[2020-06-03 22:51] Vadorequest commented on #88
On what branch are you?

Try deleting all node_modules and reinstalling.

[2020-06-03 22:58] samuelcastro opened #89 "Font preload"
You're preloading fonts with:

[code]

But I think it should actually be:
[code]

https://web.dev/codelab-preload-web-fonts/

[2020-06-03 23:04] samuelcastro commented on #88
branch:  v2-mst-aptd-gcms-lcz-st

`yarn.lock` and `node_modules`  were removed before.

[code]

[2020-06-03 23:06] Vadorequest commented on #89
Thanks, indeed I'm a bit confused about the right way of doing things.

I've opened an issue at https://github.com/GoogleChrome/lighthouse/issues/10892#issuecomment-637086968

But, I believe `preload` doesn't play nicely with `WebFontLoader` somehow.
See https://github.com/typekit/webfontloader/issues/403

[2020-06-04 00:25] Vadorequest commented on #88
You must be doing something like fetching an external service using `fetch`?

https://github.com/vercel/next.js/issues/1213

[2020-06-04 01:55] crisfcodes opened #90 "What is the purpose of using export and declare together?"
https://github.com/UnlyEd/next-right-now/blob/0fd1aae03a283cf79e810467d07f3ec03a0f5508/src/types/pageProps/MultiversalPageProps.ts#L12

[2020-06-04 08:11] Vadorequest commented on #90
https://stackoverflow.com/a/53289927/2391795

Honestly, I think it's a mistake on my side, and `export type MultiversalPageProps<E extends {} = {}> = {` should behave exactly the same.

The good thing is, it doesn't change anything in this case.

Eventually, I'll fix this by removing all `declare` statements related to TS `type`, good catch!

[2020-06-04 12:39] jeantil commented on #89
out of curiosity is there a specific reason for not using [font-display: swap]( https://developers.google.com/web/updates/2016/02/font-display) and using a js loader instead ?

[2020-06-04 13:02] Vadorequest commented on #89
font-display: swap is actually being used, but not available on all browser, this was supposed to use the best of both worlds to avoid FOUT effect and blinking text.

[2020-06-04 16:13] crisfcodes opened #93 "understanding the purpose of logger"
https://github.com/UnlyEd/next-right-now/blob/0ceea3f3f46cfbd9dc9707b7fc119725319f7592/src/pages/404.tsx#L16

What is the purpose of creating a `logger` in some pages? in webstorm i have a lot of warnings from ts compiler `TS6133: 'loger' is declared but its value is never read`. Is it only there to be used if necessary?

--------------------------------------

There is a lot of `console.*` in pag

[2020-06-04 16:21] samuelcastro commented on #88
I'm not doing anything new, this is a clean clone of this repo.

[2020-06-04 16:32] samuelcastro commented on #89
@jeantil https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/public/static/fonts/NeuzeitGrotesk/font.css#L13

[2020-06-04 16:39] samuelcastro commented on #85
There are many places that a documentation would help, some comments on https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/pages/api/preview.ts, also in the oficial docs and preview examples.

I think just explaining why the token security is not required on GraphCMS or the limitations of it would be super helpful.

[2020-06-04 17:09] Vadorequest commented on #93
The logger doesn't log stuff that aren't `error` on production.

It basically avoids cluttering the server with logs. I had done that from a time where I was paying for logs, which isn't the case anymore (AFAIK).

But, it's not the best implementation, and it's not lightweight either (see https://github.com/UnlyEd/next-right-now/issues/49).

Eventually, it'll evolve, it's just not my main priority

[2020-06-04 17:11] Vadorequest commented on #88
Weird, it's working on my side on both MacOs and Windows 8 + 10.

I'll try re-pulling that branch and see what happens.

[2020-06-04 17:13] Vadorequest commented on #85
Alright, let me know if you have time to make a documentation PR towards https://github.com/UnlyEd/next-right-now/tree/v2-mst-aptd-gcms-lcz-sty branch. Otherwise I'll try to find the time to do it.

Thanks for you feedback!

[2020-06-04 19:02] Vadorequest commented on #88
I tried to do a clean install and it works as expected.

https://youtu.be/E0TUVE1VEEQ

What OS are you using? I'm gonna have a hard time fixing this one without reproduction.

[2020-06-04 21:54] samuelcastro commented on #88
You didn't follow the steps to reproduce which is just to run: `yarn build`, I also can start the app with `yarn start` without any issues.

Might be related to my `now` version though, not sure.

Using `macOS Mojave`

[2020-06-04 23:25] Vadorequest commented on #88
Well, it wasn't obvious it was during `yarn build`.

It shouldn't be related to the `now` CLI anymore, but should basically run `next build`.

I've never tried to manually build from my machine to be honest, since the point of this boilerplate is to deploy mainly to Vercel.

I just tried and I get the same error as you do.

[2020-06-04 23:36] Vadorequest commented on #88
Seems related to:

https://github.com/vercel/next.js/discussions/12732
https://github.com/vercel/next.js/pull/12353#issuecomment-627064091

I strongly believe it comes from the new built-in `fetch` function.

Opened issue: https://github.com/vercel/next.js/issues/13780

[2020-06-05 00:34] samuelcastro commented on #88
Well that was the only step to reproduce I've added in my original comment 😄 , not sure why it wasn't obvious. :/

Thanks for opening up the issue, I wanted to make sure it wasn't something in my environment.

[2020-06-05 09:03] Vadorequest commented on #88
I had missed that section 😅 Tired from working overnight maybe? :D

[2020-06-05 12:26] Vadorequest commented on #88
Fixed by https://github.com/UnlyEd/next-right-now/commit/1ed2c6a809709636b8322f76234359bf5f7f5a44

See https://github.com/vercel/next.js/issues/13780#issuecomment-639446017

[2020-06-05 12:26] #88 closed, assigned to nobody

[2020-06-05 16:11] samuelcastro commented on #88
Thank you!

[2020-06-05 22:39] Vadorequest opened #95 "RFC - Move on-disk caching implementation to separate npm library"
I've implemented a hybrid memory/disk cache storage at https://github.com/UnlyEd/next-right-now/pull/92

It works locally and on Vercel.

It's meant to help caching stuff that is shared by several Next.js SSG pages during the server initial build, because in-memory caching won't work in such case.

I've used it to reduce from 140 Airtable API calls to only 7, and considerably decrease build time f

[2020-06-05 23:36] Vadorequest commented on #89
Fixed by https://github.com/UnlyEd/next-right-now/pull/97

[2020-06-05 23:36] #89 closed, assigned to nobody

[2020-06-05 23:46] Vadorequest commented on #72
Closing this since as mentioned above it wouldn't fit the current use case outside of functional components (e.g: getStaticProps/getServerSideProps)

[2020-06-05 23:46] #72 closed, assigned to nobody

[2020-06-05 23:47] Vadorequest commented on #90
Fixed by

[https://github.com/UnlyEd/next-right-now/pull/86/commits/3e3a7526801c207d1a0eb7ff077f129a5d507780 ](https://github.com/UnlyEd/next-right-now/pull/86/commits/3e3a7526801c207d1a0eb7ff077f129a5d507780)

[https://github.com/UnlyEd/next-right-now/pull/86/commits/3e3a7526801c207d1a0eb7ff077f129a5d507780 ](https://github.com/UnlyEd/next-right-now/pull/86/commits/3e3a7526801c207d1a0eb7ff077f129

[2020-06-05 23:47] #90 closed, assigned to nobody

[2020-06-05 23:51] Vadorequest commented on #49
Considering after various attempts I didn't find anything that fits, what do you think about building a small internal utility for this?

The needs are:
- Shouldn't log stuff that isn't `error` in production (same behaviour on server and client)
- Ideally would log the name of the file that's calling
- Use the same API as the native `console`
- Forwards calls so that we may know who is the initial

[2020-06-05 23:53] Vadorequest commented on #78
@Demmonius I'd love your contribution on this! 😉

[2020-06-06 16:32] Vadorequest opened #99 "RFC - Use MXD (Markdown + JSX + HTML) from a CMS"
It's already possible to use MDX from the filesystem, as proved with [this POC](https://github.com/UnlyEd/next-right-now/pull/98). If that's all that interests you, then take a look at the code!

But this RFC is about using MDX from a CMS, thus avoiding the limitations/complexity of the filesystem.

# Motivations

The benefit (using content from an external source) would be to render complex pages

[2020-06-09 16:26] samuelcastro commented on #85
I can help with it, I'm busy these days but I'll find sometime.

[2020-06-11 04:57] crisfcodes opened #104 "MultiversalPageProps as generic parameter"
https://github.com/UnlyEd/next-right-now/blob/94ae2f9c1aa98eadeab33fd6eef79f3e84dffde3/src/types/nextjs/MultiversalAppBootstrapProps.ts#L11

I find this pattern `type MultiversalAppBootstrapProps<PP extends MultiversalPageProps = MultiversalPageProps>` in some generic types but i dont whats mean... if PP extends MultiversalPageProps asign the value passes as MultiversalPagePros as default value??

[2020-06-11 06:53] Vadorequest commented on #95
The purpose of both caches is completely different.

- https://github.com/UnlyEd/GraphCMS-cache-boilerplate is a Redis cache meant to act as a proxy between any consumer and GraphCMS API, so that even if GCMS breaks then our apps don't.
- https://github.com/UnlyEd/next-right-now/pull/92 is meant to avoid each page to fetch its own data, which is completely useless when those data are identical (li

[2020-06-11 07:07] Vadorequest commented on #104
Because `extends` doesn't meant `equals to`.

If you do:
`export type MultiversalAppBootstrapProps<PP>`
Then, you'll have to specify `PP` in every use, which is rather redundant.

Doing
`type MultiversalAppBootstrapProps<PP extends MultiversalPageProps = MultiversalPageProps>`
means that `PP` extends `MultiversalPageProps` and also that it equals `MultiversalPageProps` by default, which means you

[2020-06-11 17:52] samuelcastro commented on #95
Make sense now.

[2020-06-11 23:06] Vadorequest commented on #95
HybridCache has been added to gcms preset https://github.com/UnlyEd/next-right-now/pull/68/commits/98f6db3c3703a51353065cc31a32cd83b76883b6

[2020-06-12 05:17] samuelcastro commented on #95
Could you share the results? Have you noticed any improvements?

[2020-06-12 06:35] Vadorequest commented on #95
I've just added the code source, but haven't used it and don't plan to 😉

But feel free to play around and let us know!

[2020-06-12 16:11] binary64 opened #110 "'NODE_ENV' is not recognized as an internal or external command"
When running `yarn build` on Windows on the v2-mst-aptd-gcms-lcz-sty branch I get

[code]

[2020-06-12 16:15] binary64 opened #111 "Feature/Guide request: Make the default english page / rather than /en"
Hi,

I'm wondering if it's possible to make the default entrypoint `/` be in the default language, rather than force us to a subroute for that 1 language only?

Maybe this is best implemented in https://github.com/UnlyEd/next-right-now/tree/gh-pages/guides/i18n as a guide.

[2020-06-12 17:56] Vadorequest commented on #110
Do you know about Cygwin or Babun?

Babun is another alternative. https://babun.github.io/ It's not maintained but still works perfectly.

That's what I use to emulate a UNIX/POSIX env on my windows.

There is also Cygwin (Babun uses Cygwin)
https://cygwin.com/install.html

If you don't want to use either, know that the issue you're encountering can be fixed rather easily using:
- Git bash - When

[2020-06-12 18:01] Vadorequest commented on #111
It's not how I want it to be working for NRN, but it's surely doable.

My reason is that English isn't the default language of my apps, and I much prefer having a `/` that will dynamically detect the best user locale and redirect it.

If you want to have `/` serve english static content, you'll need to disable the `rewrite` rules in `next.config.js` (which rewrites / to /en) and make sure your pag

[2020-06-14 17:02] Vadorequest commented on #99
I managed to make it work, not with MDX, but with simple Markdown instead.

[code]

This renders the following

![image](https://user-images.githubusercontent.com/3807458/84599265-111ef380-ae71-11ea-8b37-d070c349c61b.png)

# Video:
https://youtu.be/GqgcDHwCQCU

---

It's done in https://github.com/UnlyEd/next-right-now/pull/113 and will shortly be available in the new upcoming preset, using Airtab

[2020-06-14 17:02] #99 closed

[2020-06-17 16:02] #14 closed

[2020-06-17 16:03] #48 closed

[2020-06-17 16:03] #16 closed

[2020-06-17 16:03] #57 closed

[2020-06-17 16:03] #87 closed

[2020-06-17 16:04] Vadorequest commented on #104
@cristian05 Closing, let me know if it doesn't answer your question.

[2020-06-17 16:04] #104 closed, assigned to nobody

[2020-06-17 16:05] Vadorequest commented on #111
@binary64 Closing, let me know if it doesn't answer your question.

[2020-06-17 16:05] #111 closed, assigned to nobody

[2020-06-17 16:05] Vadorequest commented on #93
@cristian05  Closing, let me know if it doesn't answer your question.

[2020-06-17 16:05] #93 closed, assigned to nobody

[2020-06-17 16:06] Vadorequest commented on #85
@samuelcastro I'll work on this soon, self-assigning.

[2020-06-17 16:07] Vadorequest commented on #110
@binary64 Did you sort it out?

[2020-06-17 16:09] Vadorequest commented on #78
This has been implemented and is now available.

The first implementation had changed the Github Action trigger from `push` to `pull_request`, which created a few regression. We eventually rolled back to `push`.

- https://github.com/UnlyEd/next-right-now/pull/103
- https://github.com/UnlyEd/next-right-now/pull/109

[2020-06-17 16:09] #78 closed, assigned to nobody

[2020-06-17 16:13] #49 closed

[2020-06-17 16:30] binary64 commented on #110
Babun says their project is discontinued. So I think the best option remains is cross-env or cross-env-shell on npm.

[2020-06-17 18:49] samuelcastro commented on #85
Ok sounds good.

[2020-06-17 21:09] Vadorequest commented on #110
Yes, it is. But still works perfectly. That's what I use.

Did you sort it out using cross-env anyhow?

[2020-06-26 20:13] samuelcastro opened #119 "Internal Server Error when SENTRY_DSN is not defined."
I'm getting `Internal Server Error` when I don't define `SENTRY_DSN` on `.env.local`.

It should be optional.

[2020-06-26 20:47] Vadorequest commented on #119
You probably aren't using the latest version because I just tried using `v2-mst-aptd-at-lcz-sty` branch and it worked fine, locally.

[2020-06-29 16:51] samuelcastro commented on #119
You're right, it's all working fine, closing.

[2020-06-29 16:51] #119 closed, assigned to nobody

[2020-06-29 17:01] samuelcastro opened #120 "GraphQL Config + GraphQL CLI"
It'd be great to use [graphql-config](https://github.com/kamilkisiela/graphql-config) with [graphql-cli](https://github.com/Urigo/graphql-cli) to take advantage of the code generation for type schemas through package.json scripts rather than using IDEs config (webstorm/vscode/etc), this would improve the development workflow quite a lot.

Also, I'm having a hard time trying to integrate `graph-con

[2020-06-29 18:01] samuelcastro commented on #120
Btw, I'd be happy to provide a PR, I already have a working setup that generates the `schema.graphql` as well as ts types.

[2020-07-01 21:52] Vadorequest commented on #120
I'm not so keen on removing something that works perfectly fine using a no-code/config approach such as https://github.com/jimkyndemeyer/js-graphql-intellij-plugin. This would definitely be a regression for webstorm users.

Also, your proposal doesn't mention how we're supposed to manage multiple sources (staging/production), that's something the current setup provides (I believe it can be done us

[2020-07-01 21:55] Vadorequest commented on #120
The idea of generating TS types automatically is appealing though, I had missed that part of the proposal.

[2020-07-01 22:10] samuelcastro commented on #120
Out of curiosity, why are you moving away from GraphQL?

[2020-07-02 08:14] Vadorequest commented on #120
It's due to business constraints/needs mostly. Stacker with Airtable is a really great combo to quickly provide a CMS to manage data that is flexible and usable by non-technical people.

GraphCMS (and GraphQL in general) is too technical/complex to my taste, it's great, but requires quite a deep knowledge and time to get right.

[2020-07-02 21:14] samuelcastro opened #121 "i18nextInstance prop not being injected on SSG"
I'm trying to use `i18nextInstance` from `StaticPropsOutput` on SSG/getStaticProps:

[code]

But it's undefined for some reason.

[2020-07-03 10:17] Vadorequest commented on #121
That's expected. The `i18nextInstance ` is created by the frontend, not by the backend, it's made available in pages, but not from the server, as it cannot be passed to the frontend (not serialisable).

I've never needed it from the backend, but you should be able to initialise it from the server side if you actually need it there.

[2020-07-06 15:17] Vadorequest commented on #85
Done in https://github.com/UnlyEd/next-right-now/commit/07c491ad720e23501fea9219f9375ef8f55aec2f

[2020-07-06 15:17] #85 closed, assigned to Vadorequest

[2020-07-06 20:46] samuelcastro commented on #121
Yeah, I need it in the server, I'm going to import it directly from the i18n config file. It'd be good to export it from there btw, so anyone can import and use in the server.

Thanks.

[2020-07-08 20:48] samuelcastro commented on #121
I'm trying to understand this a little bit more, [here](https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/components/appBootstrap/MultiversalAppBootstrap.tsx#L153) `i18nextInstance` is being passed down to the server props, so what do you mean it's not in the server?

Sorry the misunderstanding, I'm still trying to use it in the server, without success so far.

[2020-07-08 21:21] Vadorequest commented on #121
It's not being passed down from the server to the client there, it's initiated on the server or on the client, depending on the rendering mode.

You should be able to initialise the i18nextInstance on the server by doing `const i18nextInstance: i18n = i18nextLocize(lang, i18nTranslations);` as it's done in https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/components/appBoo

[2020-07-08 23:47] samuelcastro commented on #121
Yeah, that worked, I just thought that it was being initialized already in the server so I didn't need to do it again, but I guess I was wrong, thanks.

[2020-07-08 23:47] #121 closed, assigned to nobody

[2020-07-09 07:30] Vadorequest commented on #121
Glad you sorted it out. I understand the confusion, I love Next.js but it's not that easy to reason about with all the "magic" that happens behind the wheel, and code being reused for client, server, ssr, ssg, etc. Takes time to master it, and it's very easy to get confused as to what actually happens.

[2020-07-11 05:07] danielr18 opened #122 "Using TTL 0 for hybrid caching still invalidates cache"
Should it be` ttl === 0` instead of `timestamp === 0`?
https://github.com/UnlyEd/next-right-now/blob/07c491ad720e23501fea9219f9375ef8f55aec2f/src/utils/caching/hybridCache.ts#L90

[2020-07-11 12:54] Vadorequest commented on #122
Probably, I'll take a look today, thanks for reporting!

[2020-07-11 17:33] Vadorequest commented on #122
@danielr18 Fixed in #123

[2020-07-11 17:33] #122 closed, assigned to nobody

[2020-07-15 21:51] Vadorequest commented on #73
Closing as I haven't found any other test that we could have. Feel free to ask for re-opening if that was ever the case in the future.

[2020-07-15 21:51] #73 closed, assigned to nobody

[2020-07-16 01:58] Vadorequest opened #130 "`@vercel/next` Legacy Routes Optimized Lambdas Opt-out"
![image](https://user-images.githubusercontent.com/3807458/87617865-a800f900-c718-11ea-99f8-3c0126da2786.png)

http://err.sh/vercel/vercel/next-legacy-routes-optimized-lambdas

Need to handle stuff related to robots from next.config.js instead of now.json file to avoid opting out from optimized lambdas on Vercel.

Probably doesn't affect SSG.

[2020-07-16 04:43] Vadorequest commented on #71
The preset has officially been added. Closing!

[2020-07-16 04:43] #71 closed, assigned to nobody

[2020-07-18 16:55] 7iomka opened #135 "How to pass query params with I18nLink?"
Hi.
For correct handle query params passed to dynamic route, you need to specify `as` and `href` in full object format instead of string format.
See that issue: https://github.com/vercel/next.js/issues/10494#issuecomment-642074689

How to do this with our I18nLink?
I'm a little surprised that I don't have this opportunity right now.

[2020-07-18 18:16] 7iomka commented on #135
My current workaround is
[code]

[2020-07-19 08:02] Vadorequest commented on #135
Interesting fix, thanks for sharing.

I wasn't aware of this until a few weeks ago, and since then I've read it has been fixed within Next.js so that it's not a requirement in `as` anymore. I can't find the source but there is also this RFC about the topic:
https://github.com/vercel/next.js/issues/8207

I believe an official fix will be released in 9.4.5, but until then we should rely on such work

[2020-07-19 08:35] Vadorequest commented on #135
I noticed you define the `ref` props, but it's not used. It is useful anyhow?

[2020-07-19 10:25] Vadorequest commented on #135
Fixed through https://github.com/UnlyEd/next-right-now/pull/136

[2020-07-19 10:25] #135 closed, assigned to nobody

[2020-07-19 10:43] 7iomka commented on #135
yes, I see that you no longer use the option to create a component through React.forwardRef
Why? Do you have any suggestions why you abandoned this form of component creation? Because you don’t know the real cases when you would need to get a ref?

And why you chose lodash.isArray?
it's seems to be deprecated because not in common list and has warning on npm https://www.npmjs.com/package/lodash.is

[2020-07-19 16:32] Vadorequest commented on #135
Because of browser compatibility. Lodash is more resilient than native functions which depend on browser implementation. It's ES5 and won't work on ES3 browsers.

I didn't know it was deprecated though, I won't change it back because I still prefer to use Lodash for this kind of things (not having to think about what should be used), and it's more reliable on older browsers. (old IEs, mostly)

Reg

[2020-07-29 07:27] Vadorequest opened #142 "I18nLink doesn't go to the expected url in the demo - Uncaught SyntaxError: Unexpected token '<'"
![image](https://user-images.githubusercontent.com/3807458/88770007-760e7e80-d17d-11ea-994a-5426bab862d2.png)

Happens on:
- https://nrn-v2-mst-aptd-gcms-lcz-sty-c1.now.sh/en/examples/built-in-utilities/i18nLink-component
- https://nrn-v2-mst-aptd-gcms-lcz-sty-c1.now.sh/en/examples/built-in-utilities/errors-handling

`Uncaught SyntaxError: Unexpected token '<'` is thrown because a 404 page is retu

[2020-07-29 18:55] samuelcastro opened #143 "Warning on Vercel build"
I'm getting this warning when building up on vercel:

[code]

[2020-07-29 19:01] Vadorequest commented on #143
Duplicate of https://github.com/UnlyEd/next-right-now/issues/130

[2020-07-29 19:01] #143 closed, assigned to nobody

[2020-07-29 20:06] 7iomka opened #144 "i18nRedirect - wrong logic on dynamic routes with both params - normal & query"
If I have `site.com/en/catalog/5?brand=2`page if I use i18nRedirect to `fr` language
instead of `site.com/fr/catalog/5?brand=2`
i go to `site.com/fr/catalog/[id]?brand=1&id=6`

Dynamic url structure for this page is `[locale]/catalog/[id]` with query parameter brand passed with Link;

[2020-07-29 20:08] 7iomka commented on #144
My current workaround (it's a bit hard)
[code]

[2020-07-29 20:26] Vadorequest commented on #144
It may be related to https://github.com/UnlyEd/next-right-now/issues/142, I noticed this issue today.

There was a recent PR about I18nLink at https://github.com/UnlyEd/next-right-now/pull/136, I believe something may have gone wrong then. I'll try to fix it ASAP.

[2020-07-29 23:18] samuelcastro opened #145 "Lighthouse Inconsistent Report - Best Practices"
This is just to document and track the issue described on this issue: https://github.com/GoogleChrome/lighthouse/issues/10876

[2020-08-18 21:11] samuelcastro opened #146 "Why next-with-apollo?"
Wondering whether or not we should keep [next-with-apollo](https://github.com/lfades/next-with-apollo) considering that we could easily integrate graphql without it: https://github.com/vercel/next.js/blob/canary/examples/with-apollo/lib/apolloClient.js

`next-with-apollo` has a lot of dead code that are meant to be used with `getInitialProps` and `getDataFromTree` which has known [performance issu

[2020-08-21 18:08] samuelcastro commented on #144
Any updates on this?

[2020-08-24 09:56] Vadorequest commented on #144
I was off those past 2 weeks and just got back today. This is still the most prioritized issue on NRN and I'll try to tackle it this week.

[2020-08-25 17:38] Vadorequest commented on #142
Regarding the "i18nLink component" page, it was nothing more than a dumb mistake, the links were just wrong.
https://github.com/UnlyEd/next-right-now/commit/cf270ab55de3cd95243425f92b4e326911b90e9f

Regarding 404, it's due to https://github.com/UnlyEd/next-right-now/commit/cf270ab55de3cd95243425f92b4e326911b90e9f and has been fixed in canary and shall be released in upcoming v9.4.5.

[2020-08-25 17:38] #142 closed, assigned to Vadorequest

[2020-08-25 17:43] Vadorequest commented on #144
I actually misunderstood this bug and thought it was something else. It's not as critical as I first thought of.

I added unit tests for the I18nLink component: https://github.com/UnlyEd/next-right-now/pull/148 it's not yet merged.

@7iomka Could you post your code? Did you use `params` and `query` correctly? Because my tests are working fine.

[code]

[2020-08-25 18:43] Vadorequest commented on #144
@samuelcastro Where you also affected by this, or just checking up?

[2020-08-25 19:04] Vadorequest commented on #146
I _theoretically_ agree on this, but I don't have time to perform such a change, and it's not a priority to me. I understand the benefits, but as I am personally running mostly using SSG mode, it doesn't affect me. People using SSR would still be interested, though.

Feel free to make a PR against https://github.com/UnlyEd/next-right-now/tree/v2-mst-aptd-gcms-lcz-sty branch to propose such change.

[2020-08-25 21:12] samuelcastro commented on #146
Ok, I'll find some time to work on it.

[2020-08-26 13:17] #110 closed, assigned to Vadorequest

[2020-08-26 13:17] Vadorequest opened #149 "Important presets upgrade - Migrate to Next 9.5.x"
With the recent [release of v9.5](https://nextjs.org/blog/next-9-5), I intend to migrate both main presets (`v2-x`) to the latest v9.5.2 version.

---

Also, I'll remove the routing from `now.*.json` files to add it directly into `next.config.js` instead.
This will help solve https://github.com/UnlyEd/next-right-now/issues/130 and should improve lambda performances. (for SSR, mostly)

E.g:
[code]

[2020-08-27 15:26] 7iomka commented on #144
@Vadorequest
Hi. I just called redirect when **dynamic page**, that use query params is opened
![image](https://user-images.githubusercontent.com/18473137/91462301-b6ebd700-e892-11ea-8f8f-62b5b8ee4f14.png)

DEMO: https://www.youtube.com/watch?v=RITgtOkh76c

My final workaround that fixes:
[code]

[2020-08-27 18:20] samuelcastro commented on #144
I'm just checking up, I haven't faced this problem yet.

[2020-08-28 22:33] samuelcastro opened #150 "Schema.org to improve SEO"
Have you considered to use https://schema.org/ for better SEO experiences?

[2020-08-29 09:31] Vadorequest commented on #150
I studied it a bit (learned about it quite recently) but didn't follow-up. Are you familiar with this? I'm always interested to improve the quality of SEO, any idea how big this would be?

[2020-08-30 02:32] smblee opened #151 "barebone quick start" recommendations?"
Hello!

I am trying to dip my toe into NextJS and I tend to search for templates to see what "best" practices are out there for a certain framework I am interested in.

This is definitely one of the most fully featured, production-ready templates, but it has definitely been hard to rip out things I don't need and get started fresh so I can actually develop my own app.

I don't find the "plugin" sy

[2020-08-30 19:55] Vadorequest commented on #151
Hi @smblee and thanks for your feedback.

I'm aware the current available preset may contain "too much" for some people. It's my intent to make some lighter presets as mentioned in https://unlyed.github.io/next-right-now/concepts/presets#which-presets-are-being-considered. But it's really a lot of work as far as maintaining goes, once the presets are released, to keep them up to date. That's why I

[2020-09-01 16:05] Vadorequest opened #152 "Use "Rome Frontend" in favor of Babel, ESLint, webpack, Prettier, Jest and others"
I just discovered https://github.com/romefrontend/rome and it looks very promising.

I have no idea how it can work with Next.js.

I'm concerned about how it could be breaking with webpack. But interested about how it could replace eslint and prettier (we don't use prettier, mostly because of https://github.com/prettier/prettier/pull/6644). I like the idea of having one tool to deal with all those

[2020-09-01 18:17] samuelcastro commented on #152
I really like the idea and it does look promising, however I don't think it's ready yet.

I'm curious about how next.js would work with it though.

[2020-09-01 18:24] samuelcastro commented on #150
I honestly don't have experience with it, but I don't think it'd be a lot of work since it's just a matter of adding more documentation about specific components/tags, using [react-schemaorg](https://github.com/google/react-schemaorg) this could be easily achievable with something like:

[code]

[2020-09-01 19:41] Vadorequest commented on #152
Yeah, it's too early clearly. It can only be used as a linter for now and needs to mature quite a bit to be able to replace all those tools. But the philosophy/vision is really great. I'll keep an eye on it.

[2020-09-02 06:46] Vadorequest commented on #144
@7iomka Thanks for the demo. I understand the issue, but I'm not experiencing it myself. 🤔

Could you share the code that performs the language changes? As it's where the issue is coming from.

Nevertheless, I'm glad you worked it out. I'll try your change and see how it can be integrated by default.

[2020-09-02 16:53] samuelcastro opened #153 "Now alias error"
Suddenly I started to see issues like this:

[code]

Are you experiencing this as well? I wonder whether something has been changed on now/vercel.

[2020-09-02 17:07] Vadorequest commented on #153
I fixed it today already, I guess Vercel did some changes.

See https://github.com/UnlyEd/next-right-now/commit/a13b596bc0f22b5ec965e75ecd544d8349668d6e

[2020-09-02 17:07] #153 closed, assigned to nobody

[2020-09-02 17:08] Vadorequest commented on #153
I just pushed the fix to all v2 branches

[2020-09-02 19:33] crisfcodes opened #154 "Understanding MultiversalAppBootstrap"
I would like to understand the purpose of this component `MultiversalAppBootstrap.tsx` and its siblings components `BrowserPageBootstrap.tsx`, `ServerPageBootstrap.tsx` and `UniversalGlobalStyles.tsx`, I may have missed something in the documentation. But I don't understand its usefulness knowing that we have `_app` and `_document`... are to separate the logic of each type of rendering, or only fo

[2020-09-03 09:31] Vadorequest commented on #154
@cristian05 One of the biggest challenges with Next.js is the difficulty (on a developer standpoint) to know where our code is running and how it affects the behaviour.

Depending on the execution context (server, browser, client side transition, server side transition) there are some APIs that are unavailable, or are working differently. (cookies, localstorage, etc.)

Part of it is documented in

[2020-09-03 12:44] crisfcodes commented on #154
First, thank you for taking the time to write that detailed answer.

https://github.com/UnlyEd/next-right-now/blob/462faa7e0d744202145e396ebe388882d22716c9/src/components/appBootstrap/ServerPageBootstrap.tsx#L21

According to your answer I can imagine that this comment is wrong and what you mean is `* Bootstraps the page, only when rendered on the server`.

To make things clear, if I want to put c

[2020-09-03 15:18] Vadorequest commented on #154
Indeed, I just fixed it, thanks for pointing this out.

Exactly
https://github.com/UnlyEd/next-right-now/blob/82e94957aff8a2c36fb16fa39c0ca58f33b86ff1/src/components/appBootstrap/MultiversalAppBootstrap.tsx#L187-L198

Just an example about what you did to integrate Material UI would be great, I believe it should be added to the FAQ and could have its own documentation page, similar to the current

[2020-09-03 19:25] crisfcodes commented on #154
No problem I finish integrating it and upload a sample repository with a step by step.

[2020-09-03 20:25] crisfcodes opened #155 "uuid is not listed in package.json"
https://github.com/UnlyEd/next-right-now/blob/3dc2e77944a06535028c19a656c2914969b04155/src/utils/cookies/UniversalCookiesManager.ts#L7

on the other hand if [uuid](https://www.npmjs.com/package/uuid) is installed  you need to install @types/uuid and call the library as `import { v1 as uuid } from 'uuid'` instead `import uuid from 'uuid/v1';` to avoid problems with TS compiler;

[2020-09-03 20:56] Vadorequest commented on #155
Thanks for the feedback, I believe uuid must be installed by another package, otherwise the project wouldn't even compile on Vercel, but it does.

Good catch!

[2020-09-04 23:48] samuelcastro opened #156 "Pages Unit Test"
It'd be great to add pages tests, we could use: https://testing-library.com/docs/react-testing-library/intro

[2020-09-05 11:59] Vadorequest opened #157 "E2E tests are failing in "Common > Nav section""
Example: https://github.com/UnlyEd/next-right-now/runs/1060304906

![image](https://user-images.githubusercontent.com/3807458/92304615-e0d28700-ef7f-11ea-9780-a36f11ca1cf7.png)

This used to work, and broke for non-obvious reasons. Likely related to stuff that's being executed asynchronously by Cypress.

Doesn't work on Github Actions, doesn't work locally either.

[2020-09-05 12:36] Vadorequest commented on #155
@cristian05 Fixed!

[2020-09-05 12:36] #155 closed, assigned to Vadorequest

[2020-09-06 09:29] Vadorequest commented on #156
It would be great to know what you mean by "page tests". If you mean integration testing and navigation workflows, then it's better to use Cypress to perform those. (partly because recording of videos and screenshots helps debugging failing tests)

It really comes down to what the pages do, if they are used to display static information, there is not much point testing those, a simple test about c

[2020-09-06 09:32] #157 closed, assigned to Vadorequest

[2020-09-06 15:41] Vadorequest commented on #151
@smblee I've used your feedback to improve the documentation. PR is in progress at https://github.com/UnlyEd/next-right-now/pull/160

Feel free to give me your feedback.

I'll close this issue once the PR is merged. :)

[2020-09-06 16:29] Vadorequest commented on #154
@cristian05 I've opened https://github.com/UnlyEd/next-right-now/pull/160 which add more documentation about what you've highlighted, I hope it helps.

I'm merging the PR now, but feel free to comment it or contribute directly through another PR.

[2020-09-06 16:29] Vadorequest commented on #151
I'm merging the PR now, but feel free to comment it or contribute directly through another PR.

[2020-09-06 16:35] #151 closed, assigned to nobody

[2020-09-06 16:35] #154 closed, assigned to Vadorequest

[2020-09-06 16:37] Vadorequest commented on #151
Related doc:
- https://unlyed.github.io/next-right-now/guides/demo-examples/
- https://unlyed.github.io/next-right-now/guides/tenancy/
- https://unlyed.github.io/next-right-now/guides/tenancy/remove-MST.html
- https://unlyed.github.io/next-right-now/concepts/tenancy
- https://unlyed.github.io/next-right-now/faq

[2020-09-06 16:38] Vadorequest commented on #154
Related doc:
- https://unlyed.github.io/next-right-now/concepts/app-bootstrap
- https://unlyed.github.io/next-right-now/faq

[2020-09-06 16:56] Vadorequest commented on #150
I understand it could be useful, but to do what exactly? I don't see how it's supposed to improve SEO. It's not directly related to SEO AFAICT.

[2020-09-07 14:34] Vadorequest commented on #149
Migrate to v9.5.3 is not possible due to [this bug](https://github.com/vercel/next.js/issues/16775), app will be migrated to a canary version for now.

[2020-09-07 14:46] Vadorequest commented on #130
Done through https://github.com/UnlyEd/next-right-now/pull/161

[2020-09-07 14:46] #130 closed, assigned to nobody

[2020-09-07 14:46] Vadorequest commented on #149
Done through https://github.com/UnlyEd/next-right-now/pull/161

**Applied to all v2 presets.** (with some minor differences)

[2020-09-07 14:46] #149 closed, assigned to Vadorequest

[2020-09-07 19:35] smblee commented on #151
Great job! Appreciate the effort that you took to improve the documentation 👍

[2020-09-07 19:38] smblee commented on #156
I think @samuelcastro may be referring to your quote

Correct me if I am wrong, but I believe for frontend, you only have Cypress for end-to-end frontend testing use case? react-testing-library would be a good library to perform the test you mentioned ^.

Maybe you have some other thoughts on testing ^?

[2020-09-07 20:01] Vadorequest commented on #151
I hope it helps answering your questions, and will help future newcomers :)

[2020-09-07 20:06] Vadorequest commented on #156
Actually, Cypress is meant to test user workflows (like, navigation).

We also have UI component testing, using `react-test-renderer`. But only a few components are actually being tested ATM.

https://github.com/UnlyEd/next-right-now/blob/fc357f165abf9ae6d9c452d09d931a907126c5e6/src/components/i18n/I18nLink.test.tsx#L9

With those, I believe we've got enough tooling for testing UI components. Now,

[2020-09-08 07:00] Vadorequest opened #164 "Use @sentry/react instead of @sentry/browser"
A new package from Sentry has recently been released. See https://github.com/getsentry/sentry-javascript/pull/2631 in https://github.com/getsentry/sentry-javascript/releases/tag/5.18.0

It might be better to use this new lib instead, as it's meant to replace @sentry/browser.
I'm not aware of the implications of such a change, this would need to be POCed and thoroughly tested.

Asking for advices f

[2020-09-08 17:12] samuelcastro commented on #156
I meant unit tests of DOM elements of the pages and their components, I know we have cypress for e2e/integration and I know it's great for general navigation and the experience as a whole, however, unit testing the elements will give us a better spectrum of testing improving the project quality and reliability, react-testing-library's goal is to unit test components at a lower level, making sure y

[2020-09-08 17:18] samuelcastro commented on #150
From this article: https://graphcms.com/blog/headless-cms-technical-seo-best-practices I quote:

[2020-09-08 17:21] Vadorequest commented on #150
Thanks, but how should it be used then? What's the real use-case here? 🤔

[2020-09-08 17:27] Vadorequest commented on #156
Thanks for the thorough explanation.

What's the testing use case here? What would you like to test using `react-testing-library` that cannot be tested by `react-test-renderer`?

One thing to keep in mind is that the latter in more lightweight, it does less, so that makes sense.

I'm all for adding react-testing-library, once I understand exactly how it will benefit the project. 😉
Adding more lib

[2020-09-08 17:28] samuelcastro commented on #150
You could just create a page example showing up how to use it, it'd enrich the project since the goal is to create a "Flexible production-grade boilerplate" right?

[2020-09-08 17:40] Vadorequest commented on #150
Sure, but what example should be shown? I'm not familiar enough about the benefits and what should actually be done.

Also, since the goal is to improve SEO, I'd use it on all pages, especially the homepage. It seems it could benefit products pages as well.

[2020-09-08 18:05] samuelcastro commented on #156
**react-testing-library** is intended for unit/integration/e2e testing directly from the DOM's perspective. It uses React renderer and ReactTestUtils internally, requires real DOM because it's component's output that is asserted in tests, not internals.

**react-test-renderer** contain a subset of functionality, **react-testing-library** was built upon it. API is scarce and requires to write boile

[2020-09-08 18:11] samuelcastro commented on #150
Ideally in all pages, including a specific example page would be great to illustrate and add more documentation about its usage.

[2020-09-08 19:43] Vadorequest commented on #156
Thanks. I guess we'll add it once we have an actual use case for it.

[2020-09-09 16:31] samuelcastro commented on #156
Btw, we already have many cases that we can use it.

[2020-09-11 07:29] Vadorequest commented on #156
That's true, there are components that could use a few tests. Maybe we should put together a list of those we wish to test and what's to be tested? I don't have time to write too many tests myself, I try to focus on the most important components so far.

[2020-09-11 15:23] samuelcastro commented on #156
Looks like a good plan, I think **appBootstrap** and **pageLayout** are the most important ones at this point, I don't think we should test all pages since they're just example pages.

[2020-09-13 19:55] Vadorequest commented on #156
Example pages are already tested, 1 of each (SSG, SSR, etc.) to avoid undetected regression depending on the rendering mode.

SSG with revalidate could also be tested actually, I don't think it is, currently.

The app bootstrap part is definitely a critical bit. Maybe a bit hard to mock, though. Especially the part around the "Component" being passed down by the Next.js framework itself.

[2020-09-14 13:29] Vadorequest opened #167 "[UPCOMING RFC IN PROGRESS] I18n - Change implementation to use Next.js native i18n"
Today, Next.js released a new official (core team) RFC regarding built-in i18n.

https://github.com/vercel/next.js/discussions/17078

The way this RFC implements i18n is very similar to the way it's implemented within NRN, and that's great! I expect very little changes to a NRN codebase to adopt the future i18n built-in feature.

https://github.com/vercel/next.js/discussions/17078#discussioncommen

[2020-09-15 18:27] samuelcastro commented on #167
For i10n I'm using https://ipdata.co, it has a limited free version, it'd be great to see your idea on it, if we could create some sort of disk-based solution that would be really great. These are the 3rd party solutions I investigated:

- https://getjsonip.com/
- https://ipinfo.io/ip-geolocation-api
- http://www.geoplugin.com
- https://ipwhois.io
- https://ip-geolocation.whoisxmlapi.com

[2020-09-15 18:40] samuelcastro opened #168 "CSSType"
I recommend the usage of [csstype](https://www.npmjs.com/package/csstype) for `style` typing instead of:

[code]

I provides accurate types.

[2020-09-15 22:06] Vadorequest commented on #167
I think it's unrelated to the current topic, geolocalisation isn't strongly related to i18n. Also, it's not part of the mentioned RFC, for now.

But I like the idea of providing such service. I could be used for I18n, it could also be used for GDPR-related issues, like cookie behaviors and such that depends on where the user actually lives, not what language they want the site be displayed on.

I

[2020-09-15 22:12] samuelcastro commented on #167
Sorry I meant **L10N** not **i18n**.

The `disk-based solution` came from your original quote, I thought you meant the creation of some sort of api service to enable geo localization.

[2020-09-15 22:15] Vadorequest commented on #168
It does seem to provide accurate types, but I don't see it as a benefit really.

I couldn't check how much overhead weight it brings onto the project because https://bundlephobia.com/result?p=csstype didn't successfully analyse the package for some reason.

But, the `CSSStyles` is meant to be simple and allow everything, there isn't really a point here about what styles go there. I mean, the curre

[2020-09-15 22:18] Vadorequest commented on #167
Actually, I mentioned "disk-based implementation" because I was thinking of fetching a 3rd party API to fetch sentences, and then store them on disk for actual usage. But it's out of the scope of the official RFC (and this issue too, therefore).

[2020-09-15 22:21] samuelcastro commented on #168
Fair point, I'm using only for typing purposes, I'm getting a few type issues with `CSSStyles`.

[2020-09-15 22:26] Vadorequest commented on #168
Could you elaborate a bit on the issues you faced with `CSSStyles`? I might need some improvements then. Maybe `GenericObject<string | number>` is too restrictive? I hadn't considered some advanced CSS use cases

[2020-09-16 07:23] Vadorequest commented on #168
Following the comment https://github.com/frenic/csstype/issues/112#issuecomment-693109078, I now see the interest of using such library, and it would indeed prove itself beneficial.

A PR is welcome! 😉

[2020-09-16 13:30] samuelcastro commented on #168
Ok great, I'll work on it.

[2020-09-19 23:36] samuelcastro opened #169 "Question"
I'm wondering why you're not returning `customer` here: https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/utils/nextjs/SSR.ts#L129 and https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/utils/nextjs/SSR.ts#L29.

It'd be helpful to keep it as part of `getCommonServerSideProps` to avoid duplication, I might be wrong but I don't see limitations on SSR

[2020-09-19 23:37] samuelcastro commented on #169
Moving this to discussions.

[2020-09-19 23:37] #169 closed, assigned to nobody

[2020-09-23 11:05] Vadorequest commented on #168
Similar to this (better TS types): https://github.com/sindresorhus/type-fest

[2020-09-23 17:29] samuelcastro commented on #168
Super helpful indeed!

Btw, I'm planning on working on this tonight.

[2020-09-24 17:24] 7iomka opened #171 "SEO friendly URL with SSR-pages - how to?"
Good afternoon.
In our project, we add/edit our products from the admin panel (also uses Next.js and works through REST Api).
We want to make an SEO friendly URL for each product.

For example we have url to product page in next pages folder:
`/:locale/catalog/product/[id]`

Now this is an **SSR page** (we have a lot of products planned, and the process of creating / importing products will be a v

[2020-09-24 18:00] samuelcastro commented on #168
This issue was addressed here: https://github.com/UnlyEd/next-right-now/pull/172

[2020-09-24 18:20] samuelcastro commented on #171
@7iomka Why don't you just keep using SSG with revalidate ([Incremental Static Regeneration](https://nextjs.org/docs/basic-features/data-fetching#incremental-static-regeneration)) also using [fallback: true](https://nextjs.org/docs/basic-features/data-fetching#fallback-true) to generate a fallback page (with a loading) while the page is being build up.

That would improve the user experience of yo

[2020-09-24 21:32] GTOsss commented on #171
@samuelcastro
It is not very clear how SSG will solve the problem with url friendly?
The first page visit will most likely be made by Google, which means that it will lower the rating of the resource for a long response?

[2020-09-25 10:13] Vadorequest commented on #171
@GTOsss SSG with fallback allows you to build "on-the-fly" pages, coupled with "catch-all" page pattern, it can be used to build pages based on any number of inputs.

But, SSG/SSR isn't really the question at this point. Both can be used as @samuelcastro mentioned. I'd personally go for SSG with revalidate, so that the previously built page is used while the new version is getting built. It's inde

[2020-09-25 10:13] #171 closed

[2020-09-25 20:37] #168 closed, assigned to samuelcastro

[2020-10-08 22:23] samuelcastro opened #174 "::set-env deprecated | Github Actions"
We need to upgrade `::set-env`.

Article:
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

Security issue explained:
https://github.com/actions/toolkit/security/advisories/GHSA-mfwh-5m23-j46w

New way:
https://github.com/actions/toolkit/blob/main/docs/commands.md#environment-files

[2020-10-09 04:03] Vadorequest commented on #174
@Demmonius Could you take a look at this?

[2020-10-09 04:15] Vadorequest opened #175 "Preset request - Single Tenancy (ST)"
# Status

Not planned. Meant to be done at some point.
Upvoting/commenting will be useful to me to know how many people want this.

# Goal
Provide a new set of presets using ST instead of MST tenancy model.

- v2-aptd-at-lcz-sty (from [v2-mst-aptd-at-lcz-sty](https://unlyed.github.io/next-right-now/available-presets/v2-mst-aptd-at-lcz-sty))
- v2-aptd-gcms-lcz-sty (from [v2-mst-aptd-at-lcz-sty](htt

[2020-10-09 04:30] Vadorequest opened #176 "Preset request - Free in-app static i18n (instead of Locize paid provider)"
# Status

Not planned. Meant to be done at some point.
Upvoting/commenting will be useful to me to know how many people want this.

# Goal
Provide a new set of presets using a custom i18n in-app implementation instead of Locize provider.

- v2-mst-aptd-at-sty (from [v2-mst-aptd-at-lcz-sty](https://unlyed.github.io/next-right-now/available-presets/v2-mst-aptd-at-lcz-sty))
- v2-mst-aptd-gcms-sty (fr

[2020-10-09 04:42] Vadorequest commented on #144
Closing this, I believe it's a misusage and not a bug from NRN.

An additional test case has been added to make sure this works as expected:
https://github.com/UnlyEd/next-right-now/commit/d31b346acc736516e7506a28c65d1a1719f807f5

[2020-10-09 04:42] #144 closed, assigned to Vadorequest

[2020-10-09 04:46] Vadorequest commented on #65
This issue blocking this seems to be considered by CodeSandbox in an Enterprise Edition.
(increase RAM > 1Go to avoid [OOM effect](https://github.com/codesandbox/codesandbox-client/issues/4230#issuecomment-635516638))

[2020-10-10 12:24] ljosberinn commented on #174
fyi, since I took some heavy inspiration from that build step, I looked into it and this line

https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-at-lcz-sty/.github/workflows/deploy-zeit-production.yml#L111

[code]

can be safely replcaed with
[code]

and that's it :)

(applies to the other `::set-env` too obviously)

[2020-10-10 14:23] Vadorequest commented on #174
Thanks for the feedback on this @ljosberinn! Looks like a trivial change and should be done once https://github.com/UnlyEd/next-right-now/pull/147 has landed (or, within it, doesn't really matter).

[2020-10-14 14:32] fortydegrees commented on #63
Hey, love the work done already on this. Just want to add my strong +1 for user authentication flow bundled in!

[2020-10-17 15:08] Vadorequest commented on #174
Fixed by https://github.com/UnlyEd/next-right-now/pull/147

[2020-10-17 15:08] #174 closed, assigned to Demmonius

[2020-10-17 15:49] Vadorequest opened #178 "Do not crash GHA when Vercel domain aliasing fails"
Currently, if the Vercel aliasing fails during Github Action, the whole build is aborted.

It's not how it should work, aliasing my fail for various reasons and that shouldn't stop a team from working properly. It'd be fine not to have the alias but still continue the build, and run E2E/LH tests.

Also, it makes believe the deployment has failed, but it's not true. When aliasing fails, only the al

[2020-10-17 15:59] Vadorequest opened #179 "GHA - Smarter lookup when resolving the "latest" deployment"
Current implementation is blind and uses:
[code]

This isn't correct, and might lead to issues when multiple builds are running in parallel. E.g: 2 devs working on 2 different branches and pushing at the same time (or, 2-3 mn appart), when Cypress/LightHouse resolves the "latest" deployment, it might find another deployment completely unrelated to the current build.

I don't think this is easy to

[2020-10-17 16:02] Vadorequest commented on #179
I've started working on this at https://github.com/UnlyEd/next-right-now/pull/177 but now that I think of it, filtering by Vercel project will almost not change anything.

2 people might still be working on separate branches under the same project and run into the same issue.

[2020-10-17 16:03] Vadorequest commented on #179
Awaiting a viable solution for this. Ideally we'd need a way to find the vercel deployment related to a git commit hash.

Asked at https://github.com/vercel/vercel/discussions/5301

[2020-10-17 20:49] samuelcastro opened #181 "Migrate "now" to "vercel""
So "now" is deprecated and will stop receiving updates on December 31, 2020.

We need to move from "now" to "vercel".

[2020-10-18 12:20] Vadorequest commented on #181
Yes, true. I did try to migrate a few months ago, but noticed the Vercel CLI and Now CLI behaved differently back then.

But it's definitely something I need to do before the end of the year.

[2020-10-18 12:27] Vadorequest commented on #178
Builds will no longer crash when Vercel aliasing fails. See https://github.com/UnlyEd/next-right-now/pull/180

Next step is to change the github comment when the aliasing fails, I tried a few things but wasn't able to do it. (not familiar enough with bash)

@Demmonius FYI

[2020-10-18 12:27] #178 closed, assigned to nobody

[2020-10-18 13:44] samuelcastro opened #182 "Symlink to now.json"
To avoid rely on manually create a symlink of `now.json` from `now.*.staging.json` and `now.*.production.json` based on the environment, it'd be way easier to symlink it directly from our CI/CD workflow.

I was having a problem on production by the simple fact I forgot to create the symlink manually.

Thoughts?

[2020-10-18 14:02] Vadorequest commented on #182
So, instead of having a now.json file (or vercel.json), we'd have no file, but the CI/CD process would create the file itself?

I can see a few issues with this.
- The now.json file is currently used to resolve which customer should be deployed by CI/CD, it's basically the entry point of all CI/CD actions. (`CUSTOMER_TO_DEPLOY="${MANUAL_TRIGGER_CUSTOMER:-$(cat now.json | jq -r '.build.env.NEXT_PUB

[2020-10-18 14:21] samuelcastro commented on #182
We'd know that from `NEXT_PUBLIC_CUSTOMER_REF`, we don't need the now.json to know that.

[2020-10-18 14:50] Vadorequest commented on #182
While this is true in a local environment, it's not how it works when deploying through GitHub Actions.

Do you mean we could read the .env file that contains the `NEXT_PUBLIC_CUSTOMER_REF` when deploying through GitHub Actions? And then, resolve which now.*.json file to use based on the value of `NEXT_PUBLIC_CUSTOMER_REF`? That could work. 🤔

[2020-10-18 14:51] samuelcastro commented on #182
Exactly. Via https://github.com/marketplace/actions/environment-variables-from-dotenv for instance.

[2020-10-18 14:52] Vadorequest commented on #182
On second thought, I might have misunderstood your pain point here.

What do you mean? Do you change the symlink regularly? Because I don't, the symlink is meant to make a choice between `customers`, not to deploy to production. Deploying to production is automated when pushing into the master branch. Maybe your workflow is different from the one I intended to be used?

[2020-10-18 14:59] samuelcastro commented on #182
I don't change the symlink regularly, the fact is that this is a manual process that could be easily automated. The problem I had was that on dev stage the symlink was pointing to *.staging.json and when I merged to master I forgot to update it accordingly.

[2020-10-18 15:03] samuelcastro commented on #182
But setup is exactly the same you're using, although I'm using ST rather than MST.

[2020-10-18 15:14] Vadorequest commented on #182
There is still something odd here, because on my setup the symlink always point to one of the now.*.staging.json even when I merge it into the master branch, but it deploys using the production file.

Maybe something broke when you migrated from MST to ST?

- Are you sure your Github Actions triggers the "deploy-zeit-production.yml" workflow when you merge a commit onto master?
- Are you sure your

[2020-10-18 20:43] samuelcastro commented on #182
Yes I'm sure, everything is fine, and it was actually even deploying however I noticed that i18n was not working, it was not pulling translations from locize, that's when I realized my `now.json` was not linked to `now.*.production.json`.

[2020-10-18 20:52] Vadorequest commented on #182
Hum, my point is that now.*.production.json file should never be linked to now.json. Only the staging.

Could you share your package.json and workflow staging+prod?

[2020-10-18 21:00] samuelcastro commented on #182
scripts on package.json
[code]
Workflow staging:
[code]

Workflow production:
[code]

[2020-10-18 21:28] Vadorequest commented on #182
Didn't see anything weird indeed. What's the content of your now.app.staging.json and now.app.production.json?

[2020-10-18 21:28] Vadorequest commented on #182
Also, we released a few improvements today about GHA, you might want to check them out! https://github.com/UnlyEd/next-right-now/discussions/166#discussioncomment-103624

[2020-10-18 21:37] samuelcastro commented on #182
The content is exactly like this https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/now.customer1.staging.json and https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/now.customer1.production.json plus my own scope and variables.

[2020-10-18 21:37] samuelcastro commented on #182
Yeah I saw it, I'll merge it in asap.

[2020-10-18 21:50] Vadorequest commented on #182
As long as the `name` is the same between both it should be fine. I assume you set `NEXT_PUBLIC_PROJECT_REF="app"` in both as well.

I don't see anything wrong. `yarn deploy:$(cat now.json | jq -r '.build.env.NEXT_PUBLIC_PROJECT_REF'):production:simple --token $ZEIT_TOKEN` from the production workflow should read the now.json (whether it's linked to prod or staging) and resolve the `NEXT_PUBLIC_PR

[2020-10-18 22:20] samuelcastro commented on #182
Yes they're correct.

I agree, this is weird, I'll keep investigating.

[2020-10-18 22:36] samuelcastro commented on #182
Maybe this is related: https://github.com/vercel/vercel/issues/3099

[2020-10-18 23:09] Vadorequest commented on #182
Good finding, definitely related to your issue.

I'm not sure how people "lock-in" a specific version of "now" when used through github actions, I noticed it always uses the latest without caring for what's specified in our own package.json.

Your workflow logs should print out what version is used, you can check there.
I checked against a recent workflow and it uses `vercel@20.1.2` 🤔

[2020-10-18 23:21] samuelcastro commented on #182
Same here: `Vercel CLI 20.1.2`

[2020-10-18 23:54] Vadorequest commented on #182
Maybe try using the latest canary version `20.1.2-canary.5` and see if it solves the issue.

But... If Vercel does what I think it does then it'll still use 20.1.2. I think there is a way to lock down what version to use but don't know how.

[2020-10-19 05:02] samuelcastro commented on #182
I'll try that tomorrow morning.

[2020-10-19 10:40] Vadorequest opened #184 "Sometimes, E2E tests fail because they're testing the Vercel domain instead of the deployment domain"
It happens from time to time that Vercel didn't update the DNS of the newly deployed domain name, and Cypress runs too early and gets redirected to the deployment page, which is protected against unauthenticated users and gets redirected to the homepage.

The deployment page automatically redirects to the deployment domain once the domain has been published, but the login page doesn't.

Therefore,

[2020-10-19 15:01] Vadorequest commented on #179
I got an answer from the Vercel support:

It is possible to set our own "meta" tags when deploying, and we could set a tag that contains the git commit hash, and then we could filter deployments by that meta tag to find which deployment was deployed through which commit.

Doc:
- https://vercel.com/docs/cli#commands/list/extended-usage
- https://vercel.com/docs/api#endpoints/deployments/list-deploy

[2020-10-19 17:39] samuelcastro commented on #182
Well, it seems to be working.

[2020-10-19 17:41] samuelcastro commented on #182
The weird thing is that I'm still seeing `Vercel CLI 20.1.2` in the logs.

[2020-10-20 09:33] Vadorequest commented on #182
Okay, thanks for the feedback.

I'm closing this, the issue is still there but the patch should be released in a non-canary release at some point in the future.

[2020-10-20 09:33] #182 closed, assigned to nobody

[2020-10-22 22:45] samuelcastro opened #186 "Cypress failing on _sanity/README.md"
After merging the new CI/CD changes I'm getting this error, which is super weird considering that nothing has been changed in terms of e2e tests.

[code]

For whatever reason cypress is trying to run the `_sanity/README.md` file.

Locally everything is fine though.

Any thoughts?

[2020-10-22 22:58] samuelcastro commented on #186
Never mind, my config was missing: `"ignoreTestFiles": "*.md"`

[2020-10-22 22:58] #186 closed, assigned to nobody

[2020-10-23 07:49] Vadorequest commented on #186
Glad you sorted it out 😄

[2020-10-23 16:53] Vadorequest commented on #184
Answer from Vercel support:

![image](https://user-images.githubusercontent.com/3807458/97031581-d0db2a80-1560-11eb-8e4d-42dab157e0dd.png)

Example:
See https://github.com/filipedeschamps/BrasilAPI/blob/master/.github/workflows/e2e-tests.yml

@Demmonius Do you understand what needs to be done? I'm not sure I 100% understand the example

[2020-10-27 11:04] Demmonius commented on #184
HI,
I think they advise us to create a github action which block the workflow until the domain is fully created. But is it not possible to do that in Cypress ? By making a "pre" test, waiting for a logo or something on the page ?

We cannot apply the example of `BrasilAPI` because they use the built-in vercel app with Github actions, not a custom system like us. Indeed, the app update the status o

[2020-10-27 15:11] Vadorequest commented on #184
Maybe a simpler alternative would be to wait for like 10-30sec before starting the E2E action?

I don't think "pre-tests" with Cypress will help here, because they'll get redirected to the wrong domain and get stuck, it won't help IMHO.

The cleanest way to do it would indeed to wait for the deployment to be ready using the Vercel API.
Could that be a separated/reusable action?

https://github.com

[2020-10-27 15:42] Demmonius commented on #184
The last link looks perfect, because that's also a way to retrieve the deployment URL so it actually skips a step ;)

[2020-10-27 18:34] samuelcastro opened #188 "Next.js 10"
What's the plan to get NRN up to Next.js 10? https://nextjs.org/blog/next-10

There are a lot of new features:

- Built-in Image Component and Automatic Image Optimization
- Internationalized Routing
- Next.js Analytics
- React 17 Support
- getStaticProps / getServerSideProps Fast Refresh
- Fast Refresh for MDX
- Importing CSS from Third Party React Components
- Automatic Resolving of href
- @next

[2020-10-28 06:42] Vadorequest commented on #188
The plan it to get there ASAP.
As far as I could tell, there is no regression. So it should be a smooth update.

The only major difference is that I need to replace our custom i18n routing with the native one. There might be functional regressions there so this needs to be tested thoroughly.

And use/showcase the `Image` component too. This is the most exciting part of the update IMHO, as we alrea

[2020-10-28 16:41] samuelcastro commented on #188
Well Amplitude is not quite free right? I think we should embrace Next.js Analytics as well.

And we might need to get rid of `GraphCMSAsset` in favor of the native `Image` component, or maybe just incorporate the `Image` within `GraphCMSAsset`.

And update all i18n routes utilities in favor of the new automatic resolving of href.

I'm super excited about it. :)

[2020-10-28 16:51] Vadorequest commented on #188
Amplitude is free until 10 million events a month. So, it's not too bad either. (and more effective if you need to consolidate stats from several sites)

Definitely gonna replace GraphCMSAsset and AirtableAsset with Image, not sure if I'll wrap the Image yet (to deal with custom business rules) or replace them altogether yet.

I hope I can do all those things within the end of the week-end.

[2020-10-30 07:52] Vadorequest commented on #188
One preset has been upgraded to Next.js 10.

I encountered a few issues, and there are non-backward compatible changes to take care of, but nothing really complicated once you understand the underlying issues.

https://github.com/UnlyEd/next-right-now/pull/189

I'm going to make a PR for the other preset.

[2020-10-30 09:02] Vadorequest commented on #188
The other preset has been upgraded to Next.js 10.

https://github.com/UnlyEd/next-right-now/pull/190

Note that in order to make is easy to cherry-pick/rebase those changes, I've only done what's required for the upgrade to function normally. There is still a lot of work to be done to benefit from the actual features, but those will be done in separated commits/PRs.

[2020-10-30 09:56] Vadorequest commented on #188
FA icons have been refactored into a distinct file.

[2020-10-30 15:53] Vadorequest commented on #150
I believe using https://github.com/garmeeh/next-seo might save us time.

[2020-10-30 20:50] samuelcastro commented on #188
Could you specify what this work means? Refactor `GraphCMSAsset` to use `Image` or something?

[2020-10-30 22:02] Vadorequest commented on #188
Yeah, this and i18n, I18nLink, etc.

There is one regression with the native i18n though, see https://github.com/vercel/next.js/discussions/17078#discussioncomment-117187

[2020-10-31 17:29] samuelcastro commented on #188
Ok, it'd be great to create issues for each single feature that needs to be implemented, to keep things more organized and easy to track.

[2020-11-01 09:06] Vadorequest opened #194 "Migrate NRN I18n routing implementation to native Next.js I18n"
# Goal

Update the current NRN implementation of I18n routing to the new official Next.js 10 I18n routing.

The update will provide more ways of configuring the i18n routing. Currently, NRN only handles the `sub-path` routing strategy. See https://nextjs.org/docs/advanced-features/i18n-routing#sub-path-routing

# Status

Awaiting below issues to be fixed before starting working on this.

# Issues

[2020-11-01 09:21] Vadorequest opened #195 "Migrate `AirtableAsset` component to use Next.js 10 `Image` component"
# Goal

Use the newer `next/Image` component instead of a simple `img` tag within the `AirtableAsset` component.

The goal is to leverage the new capabilities from the `Image` component, such as image optimization.

_Affects `v2-mst-aptd-at-lcz-sty` preset only._
Similar to https://github.com/UnlyEd/next-right-now/issues/196

# Status

On-hold until the below issues are fixed.

# Issues

Awaiting

[2020-11-01 09:22] Vadorequest opened #196 "Migrate `GraphCMSAsset` component to use Next.js 10 `Image` component"
# Goal

Use the newer `next/Image` component instead of a simple `img` tag within the `GraphCMSAsset` component.

The goal is to leverage the new capabilities from the `Image` component, such as image optimization.

_Affects `v2-mst-aptd-gcms-lcz-sty` preset only._
Similar to https://github.com/UnlyEd/next-right-now/issues/195

# Status

On-hold until the below issues are fixed.

# Issues

Awaitin

[2020-11-01 09:26] Vadorequest commented on #188
True. I first thought I'd be able to quickly change the NRN implementation about i18n routing and asset/image, but I've met some drawbacks and changed my mind.

- #194 - Migrate NRN I18n routing implementation to native Next.js I18n
- #195 - Migrate `AirtableAsset` component to use Next.js 10 `Image` component
- #196 - Migrate `GraphCMSAsset` component to use Next.js 10 `Image` component

I'm clos

[2020-11-01 09:26] #188 closed, assigned to Vadorequest

[2020-11-01 23:32] samuelcastro commented on #188
What about automatic resolving of href?

[2020-11-03 16:18] Vadorequest commented on #167
Closing this in favor of https://github.com/UnlyEd/next-right-now/issues/194.

[2020-11-03 16:18] #167 closed, assigned to nobody

[2020-11-03 16:19] Vadorequest commented on #145
I've found a way to solve this, working on our private NRN fork.

Basically, the bad performance is due to enabling preview mode in staging, I found a way not to do this when Cypress/LightHouse is running, which increases performances.

I'll implement it at some point, it's trivial.

[2020-11-03 19:39] 7iomka commented on #194
Hi @Vadorequest
After upgrade to next 10x I get wrong lang attribute on html tag without any advanced changes in codebase.
This is because now next automatically resolve html lang attribute
So your code https://github.com/UnlyEd/next-right-now/blob/e6f625820726d24967b4b14a5f32c93266fac3c9/src/pages/_document.tsx#L90
now not working at all.
I open page in locale 'ru' but get `<html lang="en">`
Why

[2020-11-03 20:07] samuelcastro commented on #145
Awesome!

[2020-11-03 20:59] 7iomka commented on #194
Hm..
Seems `10.0.1-canary.7` fixes this.
will need to test

[2020-11-03 21:35] Vadorequest commented on #194
Thanks for letting me know, I hadn't noticed this!

And yes, Next shouldn't enable this when you haven't opt-in for their i18n routing feature.
I'm glad you found a workaround. There are other bugs in the 10.0.0 release and the canary branch is a fine workaround for now. It'll probably be patched in the 10.0.1 like many other things.

[2020-11-04 18:30] samuelcastro opened #198 "Relay"
Have you ever considered using [Relay](https://relay.dev/)?

https://github.com/vercel/next.js/tree/canary/examples/with-react-relay-network-modern

What's your thoughts on it?

I personally never worked with it but I always wondered how it would be.

[2020-11-04 18:30] #198 closed, assigned to nobody

[2020-11-10 19:02] samuelcastro opened #200 "i18n error when adding new languages"
There is an issue when adding new languages that I believe is related to react suspense. See https://github.com/i18next/react-i18next/issues/977

Error:

<img width="607" alt="Screen Shot 2020-11-10 at 10 53 42 AM" src="https://user-images.githubusercontent.com/5281701/98718939-f0859780-2343-11eb-99e1-58630122c29b.png">

### Steps to reproduce:

1. Add a new language to Locize.
2. Make sure the ne

[2020-11-10 19:19] samuelcastro opened #201 "Use Locize locales/languages as single source of truth for the whole application"
It'd be way better to load supported languages automatically rather than rely in hard coded array that always need to be updated whenever a new language is included.

Solution:

[code]

https://github.com/locize/i18next-locize-backend#backendgetlanguages

[2020-11-10 20:19] Vadorequest commented on #200
How many languages do you use? I use "fr, en" and never ran into this so far. Haven't tried to reproduce it yet.

[2020-11-10 20:20] Vadorequest commented on #201
What's the "hardcoded array" you mentioned?

[2020-11-10 20:37] samuelcastro commented on #201
@Vadorequest  https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/i18nConfig.js#L7

[2020-11-10 20:38] samuelcastro commented on #200
@Vadorequest 20 languages, this started happening recently, it was not happening before.

[2020-11-10 21:05] Vadorequest commented on #201
I don't really understand what you'd like to do instead of the current behaviour.

[2020-11-10 21:06] Vadorequest commented on #200
Suspense was disabled on the NRN Locize implementation, I don't think it's related.

Seems to be related to a misconfiguration of your Locize project somehow.

[2020-11-10 22:15] samuelcastro commented on #201
Load the array of supported languages directly from locize instead of maintain this array hardcoded in the project.

[2020-11-10 22:33] Vadorequest commented on #201
Well, feel free to do so in your app then, but it's not what I'd recommend as a default.

The reason behind this choice is that there shouldn't be allowed Locize languages that aren't allowed within the app, and the `supportedLocales` helps ensuring only the languages that are explicitely allowed can be used for i18n.

Does that make sense?

[2020-11-10 22:33] samuelcastro commented on #200
Ok the problem is because I changed how locize fetch languages from:

[code]

to:

[code]

The reason is because I need to fetch translations and their variations like: `es-CO` and `es-ES`, etc.

[2020-11-10 22:38] Vadorequest commented on #200
Did you find a solution?

I didn't play around with i18n variations with Locize, I haven't much experience with those.
But, I'd say at first glance your design won't work, because your Locize account is configured with "en" language, instead of "en-CO"/etc. You might resolve your issue by creating two new languages on Locize, using "es-CO" and "es-ES". (and a "common" namespace within each)

But I

[2020-11-10 22:42] samuelcastro commented on #200
I already have `es-CO` and `es-ES` on locize, I don't have `en-CO` because this isn't even a valid locale.

It's not about design, it's about the languages I need to support.

I thought it would work without any problem considering that it's just a different language.

I will check the docs, thanks!

[2020-11-10 22:45] Vadorequest commented on #200
Then the error message seems to point out those languages don't have a `common` namespace on Locize.

[2020-11-10 22:47] Vadorequest commented on #200
Seems like I was wrong about two things:
- It's not about Locize, but about how i18next works
- You can use `en-US` as a valid language on i18next (and thus on Locize too)

You might want to check how the fallback works: https://www.i18next.com/principles/fallback

[2020-11-10 22:49] samuelcastro commented on #200
Which is weird because they're already have the `common` namespace:

<img width="1242" alt="Screen Shot 2020-11-10 at 2 47 17 PM" src="https://user-images.githubusercontent.com/5281701/98742776-d956a200-2363-11eb-9b54-27ec9bfa7c60.png">

[2020-11-10 22:53] samuelcastro commented on #200
What do you mean? As far as I know i18next support variation as any other language.

[2020-11-10 22:58] samuelcastro commented on #200
I can see that the translations are being fetched and returned properly from Locize, so in fact it's not a problem with Locize.

[2020-11-10 23:17] samuelcastro commented on #200
I think the problem is a misconfig using `lang` rather than `locale`, but I didn't find it, if you could try to reproduce it including a language variation to see the results that would be great, at least I'll know whether or not it's something on my end.

And all others locales work just fine, just variations like (es-ES, es-CO, fr-FR) generates the problem.

[2020-11-13 16:47] samuelcastro commented on #201
Ok, I just don't think that's the best approach, having a single source of truth would simplify things.

[2020-11-13 16:48] samuelcastro commented on #200
Any feedback here @Vadorequest ?

[2020-11-13 18:05] Vadorequest commented on #201
Well, I actually consider `supportedLocales` as the single source of truth. 🤔

What would be the other source of truth?

[2020-11-13 18:07] Vadorequest commented on #200
Yeah, yeah, I meant I was wrong about `But, I'd say at first glance your design won't work, because your Locize account is configured with "en" language, instead of "en-CO"/etc.`, it seems to be properly configured.

I don't have the time to debug this at the moment, buried under many other things.

[2020-11-13 18:47] samuelcastro commented on #200
Ok, could you label this issue as a bug to be fixed? I don't have time right now but if find any I can take a look. I think this is critical considering that language variations is very common.

[2020-11-13 18:49] samuelcastro commented on #201
If you add the language you need on `supportedLocales` and not on Locize it won't work and vice-versa, so there are 2 different places where this need to be setup which I consider 02 source of truth.

[2020-11-13 19:00] Vadorequest commented on #201
Okay, I finally understand the underlying issue, it really wasn't clear to me until now.

The issue is that you can define languages your app uses both on Locize and on the project settings using `supportedLocales`. And if they get out of sync then bad things happen. You'd prefer to use `getLanguages` instead of `supportedLocales`, so that the project has only one single source of truth.

This is

[2020-11-13 19:05] samuelcastro commented on #201
Glad you got the message now 😄

This will be a huge improvement, less work for devs === best development experience === more adoption === more users of NRN.

Thanks.

[2020-11-19 12:51] sovattha opened #202 "Amplitude setup steps"
Regarding the setup of Amplitude, I think there are missing steps in the documentation.

I followed every step described here: https://unlyed.github.io/next-right-now/guides/analytics/setup-amplitude and https://unlyed.github.io/next-right-now/guides/analytics/use-amplitude

but I did not have any data in my Amplitude dashboard. I got in touch with their support to understand what is happening.

A

[2020-11-19 14:19] Vadorequest commented on #202
@sovattha Use https://chrome.google.com/webstore/detail/amplitude-instrumentation/acehfjhnmhbmgkedjmjlobpgdicnhkbp to debug calls to amplitude from the browser.

The doc is wrong about the `NEXT_PUBLIC_AMPLITUDE_API_KEY`, it should be in `.env` file, not `.env.build` (that was the old way, hasn't been updated). **Note that this only works for local testing.**

Staging/production need a Vercel secr

[2020-11-19 14:20] Vadorequest commented on #202
Just configuring the proper key will automatically make Amplitude track lots of things (page views, etc.), so it's mostly a misconfiguration issue.

[2020-11-19 18:42] samuelcastro opened #203 "TS error on SSG"
After merging last changing in I'm getting this ts error on SSG:

[code]

<img width="1257" alt="Screen Shot 2020-11-19 at 10 40 21 AM" src="https://user-images.githubusercontent.com/5281701/99709249-c9217f80-2a53-11eb-947d-b584489e8968.png">

[2020-11-19 18:46] sovattha commented on #202
Thanks for the quick reply @Vadorequest. But I think I am missing something here...

[The doc](https://unlyed.github.io/next-right-now/guides/analytics/setup-amplitude) does not make mention of a `NEXT_PUBLIC_AMPLITUDE_API_KEY` variable but only of `AMPLITUDE_API_KEY`.
Nevermind, I tried to setup a property `AMPLITUDE_API_KEY` in a new **.env** file so that it is used at runtime and not only durin

[2020-11-19 18:58] samuelcastro opened #204 "TSX files needs to have a React import"
A few files are not importing React, the one I noticed was: `MultiversalGlobalStyles`

[code]

More info: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md

<img width="964" alt="Screen Shot 2020-11-19 at 10 50 30 AM" src="https://user-images.githubusercontent.com/5281701/99710696-bc059000-2a55-11eb-8edd-5e659b5b02de.png">

Again, after last pull.

[2020-11-19 21:58] Vadorequest commented on #202
It's a bit hard to help because I'm not sure what version of the code you're using.

And obviously, the doc isn't up-to-date with the latest version. I changed the naming of ENV vars at some point, following the Next.js `PUBLIC_` naming for variables shared to the browser (which are therefore, made public).

Here is what your .env should look like, assuming you're using a version containing this c

[2020-11-19 22:15] Vadorequest commented on #204
Yeah, there is some issues about this that aren't directly related to NRN. See https://github.com/vercel/next.js/issues/18096#issuecomment-729868888

I didn't spot this, though (or, did I fix it on my private fork but forgot to fix it in NRN? 🤔 ).

I believe you can remove that particular rule from your project (`react/react-in-jsx-scope`) in eslintrc. As React is no longer needed.

Stuff to do wi

[2020-11-19 22:23] Vadorequest commented on #203
Did you run into conflict?

I can't help much on this, you'll need to go through the commits yourself and see what was changed and how it might impact your fork.

Related to the changes Next 10 made to their typings. See https://github.com/UnlyEd/next-right-now/pull/190

[2020-11-19 22:24] Vadorequest commented on #203
Mainly related to [`b30dda8` (#190)](https://github.com/UnlyEd/next-right-now/pull/190/commits/b30dda88fa8f31599d94a030ed246bfcc230ca3a)

[2020-11-20 00:33] samuelcastro commented on #203
Yeah, after building it went away, probably some cache or something else.

[2020-11-20 00:33] #203 closed, assigned to nobody

[2020-11-20 00:35] samuelcastro commented on #204
Isn't better keep the rule and import React consistently just like the rest of the project?

[2020-11-20 09:40] Vadorequest commented on #204
Not if it's not necessary. It was only done before because it was a requirement, but it's not the case anymore.

Also, code linters always complained about React being imported yet unused.

[2020-11-20 17:16] sovattha commented on #202
Thanks for the effort @Vadorequest !

I know you cannot debug every single setup so I appreciate your commitment.

I forked the project at this commit: f4d9afa1600701a9cbe62fd8834fd9de99008df4 (13/04/2020) and did not update since then... Anyway the way the environment variables were used back in time (without the prefix PUBLIC) worked well.

The setup of Amplitude was also all correct.

You point

[2020-11-20 17:16] #202 closed, assigned to nobody

[2020-11-20 17:19] sovattha commented on #181
I did it on my local branch, it is a pretty straight forward process. Renaming everything that is `now` to `vercel`.
If you did not start, I can try to do it and send a pull request to the branch gh-pages.

[2020-11-20 17:49] samuelcastro commented on #204
ok.

[2020-11-20 17:49] #204 closed, assigned to nobody

[2020-11-20 18:02] Vadorequest commented on #202
Glad you got it working! 👏

[2020-11-20 18:08] Vadorequest commented on #181
@sovattha I didn't start yet. Do you use CI/CD with GitHub Actions? Because that's the most critical part to be tested.

It's also a bit more complicated than just updating `gh-pages`. Each `v2-*` branch need to be updated too, separately. (basically, all presets)

But a PR for `gh-pages` is much welcome because documentation needs to be updated too! 👍

[2020-11-20 18:09] Vadorequest opened #205 "Update documentation about ENV vars"
See https://github.com/UnlyEd/next-right-now/issues/202

Documentation isn't up-to-date with ENV vars (e.g: `PUBLIC_`) and should be updated.

Should have been done around https://github.com/UnlyEd/next-right-now/pull/77

[2020-11-20 19:52] sovattha commented on #181
I don't know Github Actions enough... better I leave someone else this part.

I would start with the documentation (`gh-pages`) and see if I can contribute on the `v2-*` branches later on.

[2020-11-20 21:27] Vadorequest commented on #181
I'll take care of the v2 branches then, thank you for [your PR](https://github.com/UnlyEd/next-right-now/pull/206)!

[2020-11-20 21:58] samuelcastro opened #207 "Unable to process command '::set-env name=CI::1' successfully"
I'm having issue with cypress.

<img width="851" alt="Screen Shot 2020-11-20 at 1 57 53 PM" src="https://user-images.githubusercontent.com/5281701/99853779-74a40000-2b38-11eb-8ee0-3a0b3cd40f8b.png">

[2020-11-20 22:01] samuelcastro commented on #207
https://github.com/UnlyEd/next-right-now/pull/208

[2020-11-20 22:10] Vadorequest commented on #207
Thanks @samuelcastro, I noticed this a few days ago. I'm glad it's as simple as upgrading the version.

Would you have any idea how to trigger the workflow on https://github.com/UnlyEd/next-right-now/pull/208? It's one thing I really don't know how to improve and that makes contributions harder to test because CI/CD and tests aren't executed on PRs from contributors like you. (unlike what's done w

[2020-11-20 22:24] samuelcastro commented on #207
@Vadorequest This is possible using the `pull_request_target` event as described here: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull_request_target

[2020-11-20 22:32] Vadorequest commented on #207
Yeah, but we moved away from pull_request event because there was many other issues with it, one of them is it won't trigger if there is any conflict, and other blocking things 😞

[2020-11-20 22:34] samuelcastro commented on #207
Sorry I meant `pull_request_target` the `pull_request` event only happens during a merge.

[2020-11-21 11:03] Vadorequest commented on #207
Fixed by https://github.com/UnlyEd/next-right-now/pull/209 which includes https://github.com/UnlyEd/next-right-now/pull/208

[2020-11-21 11:03] #207 closed, assigned to nobody

[2020-11-21 11:05] Vadorequest commented on #207
Applied in all v2 branches.

[2020-11-21 11:12] Vadorequest commented on #181
Work has started:
- General documentation: https://github.com/UnlyEd/next-right-now/pull/206 > https://github.com/UnlyEd/next-right-now/pull/212
- GCMS v2 preset: https://github.com/UnlyEd/next-right-now/pull/210

[2020-11-21 11:30] Vadorequest opened #211 "Migrate `v2-mst-aptd-gcms-lcz-sty` preset to GraphCMS v2 - GraphCMS v1 terminated on February 1st 2021"
The `v2-mst-aptd-gcms-lcz-sty` preset uses GraphCMS v1.

The v1 will be terminated on February 1st, 2021.

Once the v1 is terminated, **the preset will become unusable**, both locally and online (preview/production).

**We need to migrate the v2, or find a different alternative to GraphCMS.**

The v2 has multiple breaking changes that'll impact the current implementation, such as:
- Content stages

[2020-11-21 13:07] Vadorequest commented on #181
https://github.com/UnlyEd/next-right-now/pull/210 has been merged and applied to all v2 presets.

CI/CD was tested at https://github.com/UnlyEd/next-right-now/pull/210 and seem to work fine without any breaking/blocking issue.

[2020-11-21 13:52] #181 closed, assigned to Vadorequest

[2020-11-21 14:00] Vadorequest commented on #181
All occurrences of "now" and "zeit" have been changed to "vercel".

Applied on gh-pages and all v2 presets.

Thanks for your help!

[2020-11-21 14:05] Vadorequest commented on #201
I'm not sure I ever want to do this, here are my reasons:
- The current way isn't so complicated, one just need to be careful when adding a new language to also add it to `supportedLocales` array
- Using Locize as single source of truth will make the workflow quite a lot more complicated, because we'll need to fetch locize when building the app, from `next.config.js`
- Also, it'll make it harder t

[2020-11-21 14:38] Vadorequest commented on #145
Done in https://github.com/UnlyEd/next-right-now/pull/214

[2020-11-21 14:38] #145 closed, assigned to Vadorequest

[2020-11-21 19:33] #205 closed, assigned to Vadorequest

[2020-11-21 19:35] Vadorequest commented on #146
I'm tempted to close this due to https://github.com/UnlyEd/next-right-now/issues/211

I feel like there is very little chance for this to be implemented.

[2020-11-21 19:39] Vadorequest commented on #202
@sovattha FYI https://unlyed.github.io/next-right-now/concepts/env-and-stages.html#public-environment-variables-vs-private-env-variables has been updated, alongside with doc regarding ENV vars configuration and usage.

[2020-11-21 21:42] samuelcastro commented on #211
What do you mean? Isn't it already free for dev usage: https://graphcms.com/pricing

[2020-11-21 21:44] sovattha commented on #202
@Vadorequest Perfectly clear. Thanks for the info.

[2020-11-21 21:48] samuelcastro commented on #211
I really would like `v2-mst-aptd-gcms-lcz-sty` to be maintained moving forward, I'm using it and I believe it would be of interest of many to see a 100% GraphQL solution like this.

[2020-11-21 23:07] samuelcastro commented on #146
😞

[2020-11-22 10:31] Vadorequest commented on #211
The free plan provides neither i18n support, nor multiple stages. And IMHO, i18n support is a must have for the NRN demos.

[2020-11-23 17:02] samuelcastro commented on #146
I'd like to keep this and implement it myself if you don't have time. I feel that we should keep GraphQL.

[2020-11-23 17:06] samuelcastro commented on #201
For people that are not using Locize I think the best approach would be create a different preset without it.

I don't think it's going to be a lot more complicated, but anyway it's your call, whatever you decide. I'll implement it in my project anyway at some point in the future.

Feel free to close this if you want.

[2020-11-25 16:16] Vadorequest commented on #211
@samuelcastro FYI I've been working on https://github.com/UnlyEd/next-right-now/pull/216 to migrate the demo to GraphCMS v2. It's ready and I'll probably merge it today.

[2020-11-25 17:08] Vadorequest commented on #211
Resolved by #216

[2020-11-25 17:08] #211 closed, assigned to nobody

[2020-11-29 23:42] Vadorequest commented on #156
Just came across https://www.cypress.io/blog/2020/06/11/introducing-the-cypress-real-world-app/ which is a very useful resource. I hope I find the time to play around and might implement my findings in NRN afterwards.

[2020-11-30 18:38] samuelcastro commented on #156
Great resource indeed.

[2020-12-03 22:20] samuelcastro opened #220 "Code Climate Test Report not working"
The code climate test report integration does not seem to be working:

That's the error I'm getting on CI, `CC_TEST_REPORTER_ID` is correctly defined in my secrets.

[code]

[2020-12-03 22:28] samuelcastro commented on #220
nvm, my mistake.

[2020-12-03 22:28] #220 closed, assigned to nobody

[2020-12-08 09:13] Vadorequest commented on #152
FYI Rome started a fundraising today, goal is to reach $100k.

https://rome.tools/funding/

[2020-12-10 07:25] Vadorequest commented on #63
I just discovered https://next-auth.js.org/ which looks awesome for any kind of authentication.

[2020-12-10 15:57] samuelcastro commented on #63
Yeah, Next Auth would be a perfect fit for this, it supports many providers including AWS Cognito. https://next-auth.js.org/configuration/providers

[2020-12-16 12:00] Vadorequest opened #224 "Protect against malicious usage of GitHub Actions - Use fixed commit hash instead of tag/branch refs"
Discussion at https://github.com/UnlyEd/next-right-now/discussions/223

- Fork all Actions used by NRN into our Company repository.
- ✅  Change all actions to use a fixed SHA instead of tag/branch reference, and use our forks, while documenting where the source action is located for ease of future update & better understanding.
- Add doc explaining why, to raise devs awareness about this.

### Con

[2020-12-20 21:56] Vadorequest commented on #63
I might start working on this within the next 2 weeks.

I'm not sure about using next-auth, it seems complicated to setup oAuth and such. I'm thinking about using https://magic.link/. (much simpler)

[2020-12-20 21:56] Vadorequest commented on #156
Cypress has been updated to v6 and now theoretically supports Component testing. (I haven't tried it myself yet)

[2020-12-20 22:00] Vadorequest commented on #194
FYI I won't change the current implementation until Next adds support for proper redirection to default locale prefix.

![image](https://user-images.githubusercontent.com/3807458/102725421-ed080780-4316-11eb-8831-ca64946cbdcd.png)

The current behavior is a breaking change and cannot be configured at this time. Many people are asking for it but so far nothing.

[2020-12-20 22:01] Vadorequest commented on #195
I won't have time to work on this until 1-3 months. But PR are welcome!

[2020-12-20 22:02] Vadorequest commented on #196
I won't have time to work on this until 1-3 months. But PR are welcome!

[2020-12-20 22:03] Vadorequest commented on #184
Solved on both v2 preset branches.

@Demmonius Although, sometimes e2e still crash 😕 But I expect it to happen less often, and I don't see what more we can do about it.

[2020-12-20 22:03] #184 closed, assigned to nobody

[2020-12-20 22:05] Vadorequest commented on #65
Issue has been marked as stale on their side, I doubt we'll see a solution, ever.

Closing, might reopen later.

[2020-12-20 22:05] #65 closed, assigned to nobody

[2020-12-20 22:06] Vadorequest commented on #176
I'd probably use https://github.com/vinissimus/next-translate for this.

I might work on this in the next 2w, depends if I find the time. If I don't, I won't work on it for months.

[2020-12-20 22:08] Vadorequest commented on #175
I will start working on this within the next 2 weeks.

[2020-12-20 23:09] samuelcastro commented on #63
Magic.link looks very expensive, but it's a cool idea.

Next Auth supports a lot more providers though.

[2020-12-20 23:37] Vadorequest commented on #63
Free up to 100 users, it's fine for many POCs/MVPs. But I hadn't considered it might incur actual costs for me 🤔 I'll see.

Yeah Next Auth supports a lot of stuff, it's great. I'm just concerned about how hard it is to configure those oAuth providers, I had a look at the doc and I was like 🤯 so complicated.

[2020-12-21 00:38] Vadorequest opened #233 "Restructure folders using a module design"
See https://github.com/UnlyEd/next-right-now/discussions/183

I want to get it done before 2021.

[2021-01-05 22:25] Vadorequest commented on #194
This issue hasn't been addressed by Next.js yet, despite having more than 70 upvotes.

https://github.com/vercel/next.js/discussions/18419

I suggest you upvote the official Next.js discussion if you wish to see this happen.

[2021-01-09 08:12] Vadorequest commented on #201
Closing, documentation will be updated in https://github.com/UnlyEd/next-right-now/pull/238

[2021-01-09 08:12] #201 closed, assigned to nobody

[2021-01-09 08:29] Vadorequest commented on #200
@samuelcastro I've found the root cause of this issue. It's simply because the `lang` is provided to Locize, instead of the locale.

`const i18nTranslations: I18nextResources = await fetchTranslations(lang);` - See https://github.com/UnlyEd/next-right-now/blob/30d83e961b6267ee7704d21b70004ee167f95ff5/src/utils/nextjs/SSG.ts#L137

I guess my first implementation didn't consider providing a `locale`

[2021-01-09 08:35] Vadorequest commented on #200
Maybe providing a locale instead of a lang wouldn't automatically fallback from the locale to the lang.

Meaning, if a translation isn't defined in `fr-CA`, then it might not automatically fallback to the translation defined in the `fr` Locize namespace. That might be why I hadn't implemented this at first, for the sake of simplicity.

If that's the case, then we should either:
- Find if an automa

[2021-01-11 04:04] jordie23 opened #244 "The flag for English is incorrect"
**Describe the bug**
The flag you have to represent English is the flag of Great Britain from 1606 that was changed in 1801. It should be updated to the modern day UK flag, or use a hybrid EN/US flag like https://i.imgur.com/JJdzMnX.png

**To Reproduce**
Steps to reproduce the behavior:
1. Go here https://github.com/UnlyEd/next-right-now/blob/v2-mst-aptd-gcms-lcz-sty/src/svg/EnglishFlag.svg
2. See

[2021-01-11 06:15] Vadorequest commented on #244
Thanks for letting us know! I'll tell our designer that'll surely give him a good laugh 🤣

[2021-01-12 00:23] Vadorequest opened #252 "Add Storybook"
https://storybook.js.org/

[2021-01-12 17:13] samuelcastro commented on #200
Yeah I knew this was the issue, I just didn't have time to find where it was being misused, see: https://github.com/UnlyEd/next-right-now/issues/200#issuecomment-725025435

Glad you found it. :)

I'll try that today.

It sounds like a reasonable approach.

[2021-01-12 17:33] samuelcastro commented on #200
Actually it seems I tested this already see: https://github.com/UnlyEd/next-right-now/issues/200#issuecomment-725007923

[2021-01-12 17:46] Vadorequest commented on #200
Alright, then I guess it didn't work because Locize wasn't called twice, but only once (with the variant) instead of variant + base. But that doesn't actually sound related to the original issue.

No more idea then, I'll have to take a look myself and see what's wrong. I think I'll implement a proper fallback for the language when doing that.

[2021-01-12 17:57] Vadorequest commented on #164
Initial study: Bigger lib (+10kB), seem to handle more react stuff, not sure if it's meant to be universal or client only.

[2021-01-13 23:15] Jbmanllr opened #254 "Why custom I18nLink ?"
Hello, is there a reason you created a custom I18nLink when next js offer it natively: https://nextjs.org/docs/advanced-features/i18n-routing

[2021-01-13 23:19] Vadorequest commented on #254
Next Right Now doesn't use the native i18n routing implementation of Next.js.

https://unlyed.github.io/next-right-now/guides/i18n/#official-i18n-routing-implementation

I hope this answers the question!
Closing this, let me know if it doesn't. 😄

[2021-01-13 23:21] #254 closed, assigned to nobody

[2021-01-18 15:14] Vadorequest opened #266 "Optimize CI/CD by running actions only when related files have been changed"
**Is your feature request related to a problem? Please describe.**
Optimize the heavy `deploy-vercel-staging/production.yml` workflows by running them only when related files have been changed.

**Describe the solution you'd like**
Ignore run when:
- A Story has been changed (affects Storybook, not the Next.js app)
- A change in `.storybook` is made
- Another workflow is changed
- .env, .gitignore

[2021-01-18 15:16] Vadorequest commented on #252
Done in #251

[2021-01-18 15:16] #252 closed, assigned to Vadorequest

[2021-01-18 15:18] Vadorequest commented on #244
@jordie23 Fixed in #250. Demo at https://nrn-v2-mst-aptd-at-lcz-sty-c1-preview.vercel.app/en

[2021-01-18 15:18] #244 closed, assigned to nobody

[2021-01-18 15:24] Vadorequest commented on #179
We fixed this by changing the way we did things, we created https://github.com/UnlyEd/github-action-store-variable which helped us avoid fetching Vercel to retrieve the deployment url, and using the one in our store instead.

[2021-01-18 15:24] #179 closed, assigned to Vadorequest

[2021-01-18 15:26] Vadorequest commented on #75
I'm thinking about doing it. Instead of using a dynamic pattern that might be harmful, listing the exact branch name would be safe (e.g: `v2-mst-aptd-at-lcz-sty`)

[2021-01-18 15:33] Vadorequest commented on #146
@samuelcastro Being the main maintainer of NRN at this time, and building it using my own experience and opinions, I'm not comfortable introducing big changes when I haven't experienced them first-hand in a real production usage. That's how I built NRN so far and it works great, I don't simply decide to add some cool tech, but I experience first with it in our company, and then decide whether/how

[2021-01-18 15:41] Vadorequest commented on #150
https://github.com/garmeeh/next-seo looks great, after reading their doc I strongly inclined in including it and refactoring NRN SEO entirely.

[2021-01-18 18:14] samuelcastro commented on #146
Ok I understand, I'll work on it.

[2021-01-18 18:24] samuelcastro commented on #75
This is going to be super helpful, for instance, I'd like to include others branches to be production like rather than `master` in my application for QA purposes but that's not possible right now.

[2021-01-18 19:15] Vadorequest commented on #75
It's not complicated to do, you simply need to add a new branch in the production deploy script and disable that branch in the staging deployment script. It works exactly the same as master/main.

[2021-01-21 09:53] Vadorequest commented on #233
Done.

- [(MAJOR) Massive folder structure refactoring (`v2-mst-aptd-at-lcz-sty`), using modular approach and module path aliases](https://github.com/UnlyEd/next-right-now/pull/264)
- [(MAJOR) Massive folder structure refactoring (`v2-mst-aptd-gcms-lcz-sty`), using modular approach and module path aliases](https://github.com/UnlyEd/next-right-now/pull/275)

[2021-01-21 09:53] #233 closed, assigned to Vadorequest

[2021-01-23 00:58] samuelcastro opened #278 "Build Error"
**Describe the bug**
I'm getting this error when building locally:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `yarn build`

**Expected behavior**
Be able to successfully build.

**Desktop (please complete the following information):**
 - OS: macOS

[2021-01-23 00:59] samuelcastro commented on #278
Fixed here: https://github.com/UnlyEd/next-right-now/pull/279

[2021-01-23 11:26] Vadorequest commented on #75
Done in https://github.com/UnlyEd/next-right-now/commit/617a59c7ab0b2061d9b470afd04114513725becc and https://github.com/UnlyEd/next-right-now/commit/9ba1cccb095dcd6f5a14e7d860e95def357c3a30 (respectively for each preset branch)

Couldn't do a PR for this as it would only be effective if pushed onto a master branch.

[2021-01-23 11:26] #75 closed, assigned to Vadorequest

[2021-01-23 22:12] Vadorequest commented on #278
Fixed by https://github.com/UnlyEd/next-right-now/pull/281

[2021-01-23 22:12] #278 closed, assigned to nobody

[2021-01-24 12:40] Vadorequest commented on #266
Done in https://github.com/UnlyEd/next-right-now/pull/282

[2021-01-24 12:40] #266 closed, assigned to nobody

[2021-01-24 13:55] Vadorequest commented on #195
Ideas: Use different components
- AirtableAsset: Display an image, uses next/image
- AirtableAssetLink: Display an AirtableAsset wrapped in a link

Might help simplify things a bit

[2021-01-31 12:01] Vadorequest commented on #146
FYI just saw https://github.com/vercel/next.js/discussions/9542#discussioncomment-324734

Updated with-apollo examples:
- https://github.com/vercel/next.js/tree/canary/examples/with-apollo
- https://github.com/borisowsky/next-advanced-apollo-starter

Haven't looked any deeper.

[2021-01-31 22:57] samuelcastro commented on #146
Yeah, `next-with-apollo` is totally unnecessary now. I'm going to work on this migration soon. Also I hope to upgrade Apollo.

[2021-02-01 16:38] Vadorequest opened #286 "Windows `yarn start` failure"
**Describe the bug**
It seems Windows doesn't like the `. ./` used by the `yarn start`, we should make it Windows compatible.

Feedback provided by other people, I haven't tested myself, but something doesn't seem to work properly.

[2021-02-03 12:29] Vadorequest opened #288 "Add support for auto-stale issues"
See https://github.com/reaviz/reaflow/blob/master/.github/stale.yml

I didn't know it could be automated, might make sense to add it by default, to auto-close stale issues.

[2021-02-11 19:36] samuelcastro commented on #288
This would be nice.

[2021-02-15 18:38] leonardogb opened #290 "Paths not completely generated in getStaticPaths of the demo page [albumId] preset v2-mst-aptd-at-lcz-sty"
**Describe the bug**
I don't know if it is a wanted behavior (and it is not too important because there is only one element in albumIdsToPreBuild) but in getStaticPaths only the path of the last album is generated, the rest is squashed.

**To Reproduce**
Steps to reproduce the behavior:
1. Add multiples ids to albumIdsToPreBuild.
2. Add console.debug(paths) to see the params to return.

[code]

On

[2021-02-15 21:54] Vadorequest commented on #290
Indeed, you're right. I guess I assumed it'd work and never actually tested it with several paths.

Thank you for the issue and resolution, I'll fix it right now.

[2021-02-15 22:01] #290 closed, assigned to nobody

[2021-02-17 22:01] samuelcastro commented on #146
@Vadorequest https://github.com/UnlyEd/next-right-now/pull/291

[2021-02-20 15:38] adreszer commented on #286
Confirmed, doesn't work.
`$ . ./scripts/populate-git-env.sh && next dev --port 8888
'.' is not recognized as an internal or external command,
operable program or batch file.
error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.`

[2021-02-20 19:01] Vadorequest commented on #286
@adreszer Thank you, I've started working on it at #293

[2021-02-22 19:35] Vadorequest commented on #146
Done in #294, thanks to @samuelcastro

[2021-02-22 19:35] #146 closed, assigned to samuelcastro

[2021-02-24 10:24] Vadorequest opened #297 "Use Jarvis in localhost (Webpack)"
https://github.com/zouhir/jarvis

Goal: Try it out and see if it's any useful, could be handy because what Webpack does is quite complicated to understand.

⚠️  Still in beta, will wait for a proper release before digging deeper.

[2021-02-25 09:09] Vadorequest opened #298 "Storybook - Changing locale globally when changing locale in component"
Follow up of https://github.com/storybookjs/storybook/issues/13634

Tried to do it when first implementing SB, but didn't know how to.

[2021-03-02 19:39] samuelcastro commented on #196
Hey @Vadorequest are you still planning to work on this? It'd be super helpful to have it.

[2021-03-02 19:44] samuelcastro commented on #194
Any new updates on this one?

[2021-03-02 20:10] Vadorequest commented on #194
Still not fixed on nextjs

On Tue, Mar 2, 2021, 20:45 Samuel Castro <notifications@github.com> wrote:

[2021-03-02 20:11] Vadorequest commented on #196
I don't have time those days,not sure when

On Tue, Mar 2, 2021, 20:40 Samuel Castro <notifications@github.com> wrote:

[2021-03-03 11:08] Vadorequest commented on #196
For the record, the official Nextjs + GraphCMS example has been updated and might be a good starting point.

https://github.com/vercel/next.js/pull/20772

[2021-03-03 16:53] samuelcastro commented on #196
This is definitely a good start.

[2021-03-08 14:33] Vadorequest opened #299 "Use .vercelignore better"
There might be quite a few folders that aren't ignored by Vercel while they should be.

https://vercel.com/guides/prevent-uploading-sourcepaths-with-vercelignore

The goal is to speed up upload/download of the project and ignore the stuff that's completely unnecessary.

[2021-03-21 21:10] samuelcastro opened #301 "i18n redirect bug"
**Describe the bug**
On catch-all routes page, if you try to change the language, it'll fail redirecting the user to the following route: https://nrn-v2-mst-aptd-at-lcz-sty-c1.vercel.app/fr/demo/native-features/example-optional-catch-all-routes/[[...slug]]?slug=you%2Ccan%2Cgo%2Cto%2Cany%2Cdepth%2Cyou%2Cwant

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://nrn-v2-mst-aptd-at-lcz-

[2021-03-21 23:23] Vadorequest commented on #301
Yeah, it's a bug in the i18nLink component if I remember correctly. It's basically because it doesn't know about query params that are specific to the catch-all page and don't convert them.

I'm not sure how to fix that 🤔

[2021-03-21 23:49] samuelcastro commented on #301
This is happening in the `i18nRedirect` fn as well.

[2021-03-23 17:37] samuelcastro commented on #144
I think this is related: https://github.com/UnlyEd/next-right-now/issues/301

[2021-03-24 14:31] Vadorequest commented on #152
I've discovered https://github.com/brodybits/prettierx which is less opinionated than prettier.

[2021-03-24 17:50] samuelcastro commented on #152
I think that if you want to have consistent code acros the board with standardized rules, it does make more sense to use a more opinionated tool. This is why I like Prettier, I'd rather use it.

[2021-03-24 22:24] tmpg commented on #63
any suggestions on how to implement auth0 into the starter? I am having a bit of trouble understanding how to lock down pages.

any insight would be appreciated thanks!

[2021-03-24 22:38] Vadorequest commented on #63
I haven't played much with auth so far, and never used OAuth.

But, I've recently been working on RWA using FaunaDB which use Magic Link for authentication, and I believe Magic handles OAuth, this might help maybe?

https://github.com/Vadorequest/rwa-faunadb-reaflow-nextjs-magic

The authentication/security around auth is affected by your rendering strategy and business needs, there is no one-size

[2021-03-24 22:39] tmpg commented on #63
I will take a look. Thank you~!

[2021-03-31 09:10] Vadorequest opened #303 "Remove usage of `React.FC` (FunctionComponent) as it is now considered as a bad practice"
See https://github.com/facebook/create-react-app/pull/8177

All components use React.FC in NRN, I liked it because it made explicit the component were functional, but it has a few drawbacks.

Planning on changing that for all components.

[2021-03-31 15:08] Vadorequest commented on #286
@adreszer The easiest workaround for Windows is to run `next dev --port 8888` directly.

Basically, avoid running the .sh file before starting the server will work fine. A few Git metadata won't be available though, but it shouldn't be an issue.

We could add a script like
[code]

If that makes sense and might help??

[2021-03-31 15:08] Vadorequest commented on #286
Another alternative is to use WSL.

https://www.thewindowsclub.com/how-to-run-sh-or-shell-script-file-in-windows-10

[2021-03-31 18:55] adreszer commented on #286
I think this is worth adding and mentioning in the docs, might help a lot of people avoid first-contact frustration :) Cheers!

[2021-03-31 20:36] Vadorequest commented on #286
Done! Thanks for the quick feedback.

[2021-03-31 20:36] #286 closed, assigned to Vadorequest

[2021-04-01 08:38] Vadorequest opened #305 "Improve Sentry tracing"
There seems to be a new way to trace browser issues.

https://docs.sentry.io/platforms/javascript/guides/nextjs/#configure

Benefits:

- Automatic Error Tracking with source maps for both JavaScript and TypeScript
- Events enriched with device data
- Breadcrumbs created for outgoing HTTP request with XHR and Fetch, and console logs
- Release Health for tracking crash-free users and sessions
- Auto

[2021-04-02 14:45] Vadorequest opened #306 "Improve GHA configuration when using NRN as boilerplate (add `owner/repo` constants)"
Currently, it's not obvious/easy to know all the constants that needs to be replaced in the GHA workflow files.

For example:

This would become `[click to see logs](https://github.com/XXX/YYY/pull/${{ steps.pr_id_finder.outputs.number }}/checks)`

We could define constants on top of each workflow file that'd be used instead of those unnamed constants, and that'd make it easier to replace them all

[2021-04-03 10:59] Vadorequest opened #307 "Improve Layouts organization"
I find it a bit hard to use the Layouts correctly at this time (`src/layouts`)

I'm working on a new project based on the latest version of NRN and the "default" layout didn't make sense to me. Also, it was simply forwarding the "core" components, which didn't provide much value.

Eventually, I renamed the "default" to "public", meant to be used for all pages that don't require authentication.

An

[2021-04-05 08:26] Vadorequest opened #308 "Update documentation in next.config.js about env variables"
Next.js supports loading variables from .env now, and our doc is incorrect with the current usage.

[2021-04-14 18:36] gnovotny opened #309 "Performance issues"
The preset v2-mst-aptd-at-lcz-sty has performance issues that are unfortunately not self-evident due to the lightness of the demo. To see what I mean, go to [https://nrn-v2-mst-aptd-at-lcz-sty-c1.vercel.app/en/terms](https://nrn-v2-mst-aptd-at-lcz-sty-c1.vercel.app/en/terms), open the Elements tab in developer tools and navigate back and forth between the landing and term pages. I believe that coo

[2021-04-15 07:52] Vadorequest commented on #309
Could you explain exactly what's wrong and what you'd expect? Cookie consent is only enabled on the terms/privacy pages.

[2021-04-15 08:35] gnovotny commented on #309
I think the main issue is _BrowserPageBootstrap_ calling _initCookieConsent_  (assuming cookie consent is displayed on all pages) and _getAmplitudeInstance_ with each nextjs route change. If your machine is not very powerful and you are running multiple browser extensions (some of which block amplitude), then this can cause some massive overhead and progressively reduce the responsiveness of the w

[2021-04-15 10:10] Vadorequest commented on #309
Thank you for the detail, I understand the issue better now. I wasn't aware of this.

Regarding Amplitude, I'm not sure what could/should be done. At least one event is sent per page transition, it should trigger when there is a route change. Do you have any recommendation about this?

Regarding initCookieConsent, it obviously shouldn't pollute the DOM. I think it might be instanciated on every pa

[2021-04-15 13:02] gnovotny commented on #309
My quickfix for _initCookieConsent_ was to wrap it in a _useEffect()_. I don''t know if the same can (or should) be applied to _getAmplitudeInstance_ though.

[2021-04-15 14:22] Vadorequest commented on #309
That's a good fix. I've written most of NRN when I wasn't familiar with `useEffect`, that's probably how I'll fix it too!

Would you like to make a PR? Let me know.

[2021-04-22 17:03] samuelcastro commented on #307
Are you planning to create a PR and include this?

[2021-04-22 17:16] samuelcastro commented on #309
Good catch on this.

[2021-04-23 07:30] Vadorequest commented on #307
Yeah, eventually. It'll be included in a bunch of other improvements once I'm done with the said project. (ETA 3-4 months)

[2021-04-23 22:25] samuelcastro commented on #309
Just fyi, `useEffect` does not support SSR.

[2021-04-28 13:00] Vadorequest commented on #303
Alternative: `VoidFunctionComponent` from React.

Example:

[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L549

https://github.com/DefinitelyTyped/DefinitelyTyped/issues/34237#issuecomment-585816352

[2021-05-06 14:06] Vadorequest opened #311 "Improve HTTP headers security, by default"
Following Lee Robinson tweet, I checked the default headers used by NRN and we get a D mark (bad):
https://securityheaders.com/?q=https%3A%2F%2Fnrn-v2-mst-aptd-at-lcz-sty-c1.vercel.app%2Fen&followRedirects=on

![image](https://user-images.githubusercontent.com/3807458/117311702-b9bcb400-ae84-11eb-823a-5684a8c83867.png)

Tweet: https://twitter.com/leeerob/status/1381605537742254082

I've looked at

[2021-05-06 16:45] Vadorequest commented on #152
Rome has raised $4.5 million (seed).

https://rome.tools/blog/announcing-rome-tools-inc/

[2021-05-06 17:12] Vadorequest opened #312 "Upgrade to Next v10.2"
https://nextjs.org/blog/next-10-2

Need to upgrade to webpack 5 manually.

https://nextjs.org/docs/messages/webpack5#custom-webpack-configuration

Community support:
https://github.com/vercel/next.js/discussions/23498

[2021-05-06 17:51] Vadorequest commented on #312
Encountering blocking issues:
- https://github.com/vercel/next.js/discussions/23498#discussioncomment-705587
- https://github.com/vercel/next.js/discussions/23498#discussioncomment-705606

[2021-05-09 08:28] #312 closed, assigned to Vadorequest

[2021-05-09 22:28] Vadorequest opened #316 "Full rework of how fonts are handled"
See https://github.com/UnlyEd/next-right-now/pull/315

[2021-05-10 10:01] Vadorequest commented on #309
SSR doesn't matter for this, because it's a frontend plugin anyway and relies on frontend package (not SSR compatible).

PR: https://github.com/UnlyEd/next-right-now/pull/319

[2021-05-10 10:06] Vadorequest commented on #309
@gnovotny I checked the code and I don't think there is anything else to optimise besides CookieConsent. It's the only browser-only module built-in.

[2021-05-10 13:53] Vadorequest commented on #309
@gnovotny Using `useEffect` is not the proper way to deal with this issue, it has side effects you probably didn't notice.

I made an implementation at https://nrn-v2-mst-aptd-at-lcz-sty-c1-914c76hdd-unly-oss.vercel.app/ and going to /privacy without doing a full page reload won't show the cookie consent pop-up.

---

A different implementation is being tested on https://github.com/UnlyEd/next-rig

[2021-05-10 15:04] Vadorequest commented on #309
Done in https://github.com/UnlyEd/next-right-now/pull/319, closing.

Let me know if it doesn't work out as it should.

[2021-05-10 15:04] #309 closed, assigned to Vadorequest

[2021-05-11 17:38] samuelcastro commented on #316
I loved this.

[2021-05-11 17:46] Vadorequest commented on #316
What do you mean? 😄

Do you like the new way?

[2021-05-11 17:46] #316 closed, assigned to Vadorequest

[2021-05-11 23:16] samuelcastro opened #323 "Performance implications of CSS-in-JS solutions"
CSS-in-JS solutions like Emotion have [performance](https://calendar.perfplanet.com/2019/the-unseen-performance-costs-of-css-in-js-in-react-apps/) implications, which is essentially the js runtime parse to convert js into `className`.

I'm considering other solutions like [Linaria](https://linaria.dev/) and even [Tailwind CSS](https://tailwindcss.com/).

I think this is something that could be imp

[2021-05-12 07:37] #323 closed, assigned to nobody

[2021-05-12 09:43] Vadorequest opened #326 "Upgrade Cypress to 7.x (breaking changes)"
https://docs.cypress.io/guides/references/changelog#7-0-0

Need to analyze what breaking changes will affect NRN.

If you'd like to use v7, please share us why (to speed-up migration). 😄

Resources:
- https://docs.cypress.io/guides/references/changelog#7-0-0
- https://docs.cypress.io/guides/references/migration-guide#Component-Testing
- https://github.com/cypress-io/cypress/blob/develop/npm/react/

[2021-05-12 10:43] Vadorequest commented on #326
Changes:
- `experimentalComponentTesting` must be removed (component testing will use a different command)
- `experimentalInteractiveRunEvents` should be added
- `@cypress/react/support` import should be deleted, [see](https://github.com/cypress-io/cypress/issues/16471#issuecomment-840964371)
- https://docs.cypress.io/guides/references/migration-guide#Component-Testing

WIP https://github.com/Unly

[2021-05-14 09:04] Vadorequest opened #332 "Enable `reactStrictMode` by default"
Currently, `reactStrictMode` is disabled by default, but it'd be better to enable it.

I hadn't done it because I didn't have time to handle potential regressions, and then forgot about it.

See `next.config.js`.

[2021-05-17 00:58] lmiller1990 commented on #326
Tag me in a comment if you need any help upgrading. I know of [one issue with next.js and CSS modules](https://github.com/cypress-io/cypress/discussions/16294#discussioncomment-726530), but other than, I think it should be a fairly smooth upgrade.

[2021-05-17 07:05] Vadorequest commented on #326
Thanks for proposing your help, I've started working on #327 and met a few issues. As you know I've opened https://github.com/cypress-io/cypress/issues/16471 but haven't tried fixing those issues based on feedback I got there. I'll try fixing this and if I run into other issues I'll ping you there directly then! 😃

[2021-05-26 17:22] Vadorequest commented on #307
Some work has been done in https://github.com/UnlyEd/next-right-now/pull/330 and https://github.com/UnlyEd/next-right-now/pull/331 a few weeks ago.

I find it easier to customise NRN when using it as a boilerplate now. It's also less confusing. I have kept the "core" naming for now. I'm closing this, let me know if things should be improved further.

[2021-05-26 17:22] #307 closed, assigned to nobody

[2021-05-26 17:25] Vadorequest commented on #164
Another package has been released specifically for Next.js. See https://github.com/UnlyEd/next-right-now/issues/305

Closing this issue.

[2021-05-26 17:25] #164 closed, assigned to nobody

[2021-05-27 18:19] #332 closed, assigned to Vadorequest

[2021-05-27 21:18] samuelcastro opened #344 "Replace Reactrap in favor of Chakra UI"
[Chakra UI](https://chakra-ui.com/) is a very interesting react UI library that's growing up in popularity by its simplicity, [design practices](https://chakra-ui.com/docs/principles) and accessibility. Also it will eventually support [zero-runtime CSS-in-JS](https://github.com/chakra-ui/chakra-ui/issues/4003) capabilities.

I think adopting Chakra would improve the dev experience, accessibility a

[2021-05-27 22:00] Vadorequest commented on #344
I completely agree. We've ditched bootstrap/reactstrap from our 2 last apps built with NRN and it's amuch better experience overall.

The main reason why I haven't updated NRN is... it takes time. 😅

[2021-05-28 23:46] samuelcastro opened #350 "Core Layout GraphCMS Duplication"
First of all, good job using `next-plugin-preval` I really liked it. But I noticed some duplication in the `getCoreStaticProps` and  I saw you left a comment related. My questions is why don't you just do this: https://github.com/UnlyEd/next-right-now/pull/349

[2021-05-29 00:30] Vadorequest commented on #350
Thanks! It's still in progress, it works fine in staging/production but is currently disabled in dev. I've spoken with the author who's making bugfixes and improvements, and I hope the developer experience will become better soon.

[2021-05-29 00:41] Vadorequest commented on #326
Merged!

The component support will come later, if ever.

[2021-05-29 00:41] #326 closed, assigned to Vadorequest

[2021-05-29 09:41] Vadorequest commented on #350
Although, I'm pretty sure it can be optimized thanks to the new way the getServerSideProps function is returned. See https://github.com/UnlyEd/next-right-now/discussions/348

I haven't taken time to look into it but if you wish to look into it a PR is much welcome :)

[2021-05-31 07:24] Vadorequest opened #351 "Add support for Cypress 7 Component Testing"
Why: https://www.cypress.io/blog/2021/04/06/introducing-the-cypress-component-test-runner/

Might not be necessary for the demo itself, but supporting Component testing would probably be a good thing. On the other hand, it creates another way to do it (compared to what's already available) and might confuse devs about what tool to use.

---

Next.js config:
https://docs.cypress.io/guides/component

[2021-06-01 17:24] samuelcastro commented on #350
We could add the static data into the cache: https://www.apollographql.com/docs/react/caching/cache-interaction/#writequery or https://www.apollographql.com/docs/react/caching/cache-interaction/#using-cachemodify

[2021-06-01 17:33] Vadorequest commented on #350
I'm not using Apollo in production anymore (besides the NRN demo), I'm not so confident about recommending something like that without prior experience.

If you end up playing with it and come up with a recommendation/PR, then I might consider spending more time on it!

[2021-06-01 17:34] samuelcastro commented on #350
https://github.com/UnlyEd/next-right-now/pull/349

[2021-06-01 17:37] Vadorequest commented on #350
I'll take a look and run some tests, but yeah, it's seems both simple and shouldn't have any downside indeed!

[2021-06-01 18:20] samuelcastro commented on #350
Fixed small issue: https://github.com/UnlyEd/next-right-now/pull/349/commits/50fb63b94afc8abfbc5f864e6f839ffc3dbda259

[2021-06-01 19:28] Vadorequest commented on #350
Thanks, I've merged your PR! 🎉

[2021-06-01 19:28] #350 closed, assigned to nobody

[2021-06-04 20:08] Vadorequest opened #357 "Add "network information" meaningful info in Analytics (network speed)"
https://github.com/kripod/react-hooks/tree/master/packages/web-api-hooks

https://github.com/kripod/react-hooks/tree/master/packages/web-api-hooks#usenetworkinformation

I'd like to add the `effectiveType` into the Amplitude built-in analytics, to get an idea about what network speed is most used by visitors.

It can also be used to perform optimization (e.g: load a heavy video only if the network

[2021-06-05 07:41] Vadorequest opened #360 "Use <main> and <nav>, etc. for better accessibility"
We currently use `<div>` but could use `<main>` and other more meaningful elements (semantic) for better accessibility